# Jan 06, 2024

In [2]:
print('Hello World')

Hello World

In [1]:
conda install numpy

Note: you may need to restart the kernel to use updated packages.

Traceback (most recent call last):
  File "C:\Python\anaconda3\Lib\site-packages\conda\exception_handler.py", line 17, in __call__
    return func(*args, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^
  File "C:\Python\anaconda3\Lib\site-packages\conda\cli\main.py", line 54, in main_subshell
    parser = generate_parser(add_help=True)
             ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Python\anaconda3\Lib\site-packages\conda\cli\conda_argparse.py", line 115, in generate_parser
    configure_parser_create(sub_parsers)
  File "C:\Python\anaconda3\Lib\site-packages\conda\cli\conda_argparse.py", line 767, in configure_parser_create
    add_parser_solver(solver_mode_options)
  File "C:\Python\anaconda3\Lib\site-packages\conda\cli\conda_argparse.py", line 1975, in add_parser_solver
    solver.name for solver in context.plugin_manager.get_hook_results("solvers")
                              ^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Python\anaconda3\Lib\site-packages\conda\base\context.py", line 492, in plugin_manager
    from ..plugins.manager import get_plugin_manager
  File "C:\Python\anaconda3\Lib\site-packages\conda\plugins\__init__.py", line 28, in <module>
    from .hookspec import hookimpl  # noqa: F401
    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Python\anaconda3\Lib\site-packages\conda\plugins\hookspec.py", line 16, in <module>
    from .types import (
  File "C:\Python\anaconda3\Lib\site-packages\conda\plugins\types.py", line 15, in <module>
    from ..core.solve import Solver
  File "C:\Python\anaconda3\Lib\site-packages\conda\core\solve.py", line 30, in <module>
    from ..exceptions import (
  File "C:\Python\anaconda3\Lib\site-packages\conda\exceptions.py", line 15, in <module>
    import requests
  File "C:\Python\anaconda3\Lib\site-packages\requests\__init__.py", line 147, in <module>
    from . import packages, utils
  File "C:\Python\anaconda3\Lib\site-packages\requests\utils.py", line 24, in <module>
    from . import certs
  File "C:\Python\anaconda3\Lib\site-packages\requests\certs.py", line 14, in <module>
    from certifi import where
ImportError: cannot import name 'where' from 'certifi' (unknown location)

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Python\anaconda3\Scripts\conda-script.py", line 12, in <module>
    sys.exit(main())
             ^^^^^^
  File "C:\Python\anaconda3\Lib\site-packages\conda\cli\main.py", line 109, in main
    return conda_exception_handler(main, *args, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Python\anaconda3\Lib\site-packages\conda\exception_handler.py", line 389, in conda_exception_handler
    return_value = exception_handler(func, *args, **kwargs)
                   ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Python\anaconda3\Lib\site-packages\conda\exception_handler.py", line 20, in __call__
    return self.handle_exception(exc_val, exc_tb)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Python\anaconda3\Lib\site-packages\conda\exception_handler.py", line 52, in handle_exception
    from .exceptions import (
  File "C:\Python\anaconda3\Lib\site-packages\conda\exceptions.py", line 15, in <module>
    import requests
  File "C:\Python\anaconda3\Lib\site-packages\requests\__init__.py", line 147, in <module>
    from . import packages, utils
  File "C:\Python\anaconda3\Lib\site-packages\requests\utils.py", line 24, in <module>
    from . import certs
  File "C:\Python\anaconda3\Lib\site-packages\requests\certs.py", line 14, in <module>
    from certifi import where
ImportError: cannot import name 'where' from 'certifi' (unknown location)

# Keywords

In [8]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [9]:
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

# Builtin Functions

In [22]:
print(dir(__builtins__))

['ArithmeticError', 'AssertionError', 'AttributeError', 'BaseException', 'BaseExceptionGroup', 'BlockingIOError', 'BrokenPipeError', 'BufferError', 'BytesWarning', 'ChildProcessError', 'ConnectionAbortedError', 'ConnectionError', 'ConnectionRefusedError', 'ConnectionResetError', 'DeprecationWarning', 'EOFError', 'Ellipsis', 'EncodingWarning', 'EnvironmentError', 'Exception', 'ExceptionGroup', 'False', 'FileExistsError', 'FileNotFoundError', 'FloatingPointError', 'FutureWarning', 'GeneratorExit', 'IOError', 'ImportError', 'ImportWarning', 'IndentationError', 'IndexError', 'InterruptedError', 'IsADirectoryError', 'KeyError', 'KeyboardInterrupt', 'LookupError', 'MemoryError', 'ModuleNotFoundError', 'NameError', 'None', 'NotADirectoryError', 'NotImplemented', 'NotImplementedError', 'OSError', 'OverflowError', 'PendingDeprecationWarning', 'PermissionError', 'ProcessLookupError', 'RecursionError', 'ReferenceError', 'ResourceWarning', 'RuntimeError', 'RuntimeWarning', 'StopAsyncIteration', 'StopIteration', 'SyntaxError', 'SyntaxWarning', 'SystemError', 'SystemExit', 'TabError', 'TimeoutError', 'True', 'TypeError', 'UnboundLocalError', 'UnicodeDecodeError', 'UnicodeEncodeError', 'UnicodeError', 'UnicodeTranslateError', 'UnicodeWarning', 'UserWarning', 'ValueError', 'Warning', 'WindowsError', 'ZeroDivisionError', '__IPYTHON__', '__build_class__', '__debug__', '__doc__', '__import__', '__loader__', '__name__', '__package__', '__spec__', 'abs', 'aiter', 'all', 'anext', 'any', 'ascii', 'bin', 'bool', 'breakpoint', 'bytearray', 'bytes', 'callable', 'chr', 'classmethod', 'compile', 'complex', 'copyright', 'credits', 'delattr', 'dict', 'dir', 'display', 'divmod', 'enumerate', 'eval', 'exec', 'execfile', 'filter', 'float', 'format', 'frozenset', 'get_ipython', 'getattr', 'globals', 'hasattr', 'hash', 'help', 'hex', 'id', 'input', 'int', 'isinstance', 'issubclass', 'iter', 'len', 'license', 'list', 'locals', 'map', 'max', 'memoryview', 'min', 'next', 'object', 'oct', 'open', 'ord', 'pow', 'print', 'property', 'range', 'repr', 'reversed', 'round', 'runfile', 'set', 'setattr', 'slice', 'sorted', 'staticmethod', 'str', 'sum', 'super', 'tuple', 'type', 'vars', 'zip']

In [23]:
print(dir(int))

['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'as_integer_ratio', 'bit_count', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes']

In [24]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

# Strings

In [4]:
print('Nation stock Exchange')    # comment starts
#print('state stock exchange') # full line comment
print("BSE # Mumbai")    # hash within " ": literal quote

usd = 'Dollar: $'; inr = "Rupee: \u20B9"
print(usd, inr)

Nation stock Exchange
BSE # Mumbai
Dollar: $ Rupee: ₹

In [7]:
exchange = 'NSE'    # strings starting with a single quote must end with a single quote in the same line
exchanges = """National Stock exchange, and
    Bombay Stock exchange"""      # Multi line strings can be defined using 3 single quotes or 3 double quotes (it also maintains the indentation)
print(exchange)
print(exchanges)

NSE
National Stock exchange, and
    Bombay Stock exchange

# Variable Names

# Syntax: Indentation for code Block

In [10]:
sensor = 0
if sensor == 0:
    print("Sensor is Disabled")
else:
    print("Sensor is Enabled")

Sensor is Disabled

# Syntax: Assignment of Value

- No Seperate Declaration Phase.
- Memory allocated as soon as definition.
-

In [15]:
abcd = 2000
print(abcd)

2000

In [16]:
print(type(abcd))
print(id(abcd))

<class 'int'>
1653045682832

In [17]:
abcd = 'Any String'
print(abcd)

Any String

In [18]:
print(type(abcd))
print(id(abcd))

<class 'str'>
1653045828784

In [19]:
a = 2000
b = 2000

print(a, b)
print(id(a), id(b))

2000 2000
1653045682608 1653045682512

In [20]:
# Integers -5 to 256 are pre-defined at boot_time (will share same adddress)
a = 200
b = 200

print(a, b)
print(id(a), id(b))

200 200
140719256677384 140719256677384

In [21]:
# Every calculation result is atored at a different location and the variable starts pointing to a different memory location
c = 2000
print(id(c))
c = c + 1
print(id(c))

1653045682512
1653045682480

There is no contract between the variable and the memory location

In [25]:
a = 2345
b = 2345
c = 2345
print(a, b, c)
print(id(a), id(b), id(c)) # creates different variables

2345 2345 2345
1653045682544 1653045682864 1653045682768

In [26]:
a = b = c = 2345
print(a, b, c)
print(id(a), id(b), id(c)) # sharing same variable

2345 2345 2345
1653045682960 1653045682960 1653045682960

In [31]:
v0, v1, v2 = 20, 30, 40   # positional mapping
print(v0, v1, v2)

20 30 40

# Input

In [32]:
ms1 = input('Enter Marks : ')     # input takes input only as a string
print(ms1)
print(type(ms1))

Enter Marks : 33
33
<class 'str'>

In [33]:
ms1 = input('Enter Marks : ')   
num = int(ms1)       # convert string to int
print(num)
print(type(num))

Enter Marks : 11
11
<class 'int'>

In [34]:
ms1 = int(input('Enter Marks : '))     # one line conversion at the time of input
print(ms1)
print(type(ms1))

Enter Marks : 23
23
<class 'int'>

In [49]:
print(int(23), float(23))

23 23.0

Operators:
    Arithematic
    Assignment
    Relational
    Logicaal
    Bitwise

In [37]:
x = 5
y = 2

In [38]:
x / y    # Quotient

2.5

In [39]:
x // y   # Integer Quotient

2

In [40]:
x % y     # Remainder

1

# Functions

In [44]:
def myFunction(param1, param2):
    output = param1 + param2
    return output                   # by default it returns None

print(myFunction(2,3))

5

In [45]:
def calc1(param1, param2):
    sum = param1 + param2
    diff = param1 - param2
    return sum, diff

a, b = calc1(50, 20)
print(a, b)

70 30

In [46]:
def calc2(param1, param2):
    """This is a simple calculator which returns summation and difference between 2 numbers"""
    sum = param1 + param2
    diff = param1 - param2
    "This is not a help Doc. Only the string starting at first line in the function is considered as help doc"
    return sum, diff

a, b = calc2(50, 20)
print(a, b)

70 30

In [48]:
help(calc2)

Help on function calc2 in module __main__:

calc2(param1, param2)
    This is a simple calculator which returns summation and difference between 2 numbers

In [52]:
def temp_check(temp):
    if temp > 99:
        return 'Hot'
    elif temp > 60:
        return 'Normal'
    else:
        return 'Cold'
    
temp = int(input('Enter Temperature : '))
print(temp_check(temp))

Enter Temperature : 45
Cold

In [58]:
def isTrouble(parrot, hour):
    if parrot:
        if hour >= 20 or hour <= 7:
            return True
        
    return False

print(isTrouble(int(input('Is Parrot talking 0 or 1')),int(input('Enter Hour'))))

Is Parrot talking 0 or 11
Enter Hour90
True

# Builtin Data Types

Strings

In [59]:
msg1 = 'Python'

In [60]:
msg1[0]

'P'

In [61]:
msg1[0] = 'Q'

TypeError: 'str' object does not support item assignment

#String Slicing

In [62]:
msg1[-4]

't'

In [65]:
msg1[-7]

IndexError: string index out of range

In [64]:
msg1[-6]

'P'

In [66]:
msg1[7]

IndexError: string index out of range

In [67]:
msg1[2:5]

'tho'

In [68]:
msg1[1:6:2]

'yhn'

In [69]:
mystring = 'ABCDEFGHIJKL'

In [70]:
mystring[-8:-2]

'EFGHIJ'

In [71]:
mystring[:]

'ABCDEFGHIJKL'

In [72]:
mystring[-2:2]

''

In [73]:
mystring[2:-2]

'CDEFGHIJ'

In [74]:
var1 = "Hello"
print(var1 * 3)

HelloHelloHello

In [75]:
'CDE' in mystring

True

In [76]:
'CDE' not in mystring

False

In [77]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [78]:
help(str.replace)

Help on method_descriptor:

replace(self, old, new, count=-1, /)
    Return a copy with all occurrences of substring old replaced by new.

      count
        Maximum number of occurrences to replace.
        -1 (the default value) means replace all occurrences.

    If the optional argument count is given, only the first count occurrences are
    replaced.

In [79]:
mystring.replace('L','LMNOPQRSTUVWXYZ')

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [80]:
mystring

'ABCDEFGHIJKL'

In [81]:
"Hello".__class__

str

In [82]:
20.__class_

SyntaxError: invalid decimal literal (3699228128.py, line 1)

In [83]:
a = 20
a.__class__

int

In [84]:
mystr1 = "king RING sing PinG"
mystr1.replace('g','*').replace('G','#')    # binding multiple methods in sequence is called as piping.

'kin* RIN# sin* Pin#'

In [90]:
mystr1 = "king RING sing PinG"
mystr1.replace('g','*').replace('G','#')    # Sequence is, first come first serve

'kin* RIN# sin* Pin#'

In [91]:
help(str.find)

Help on method_descriptor:

find(...)
    S.find(sub[, start[, end]]) -> int

    Return the lowest index in S where substring sub is found,
    such that sub is contained within S[start:end].  Optional
    arguments start and end are interpreted as in slice notation.

    Return -1 on failure.

In [94]:
mystr2 = 'This is a simple statement'
mystr2.find('is')

2

In [95]:
help(str.rfind)

Help on method_descriptor:

rfind(...)
    S.rfind(sub[, start[, end]]) -> int

    Return the highest index in S where substring sub is found,
    such that sub is contained within S[start:end].  Optional
    arguments start and end are interpreted as in slice notation.

    Return -1 on failure.

In [96]:
mystr3 = "king ring sing ping"
mystr3.find('ing')

1

In [97]:
mystr3.rfind('ing')

16

In [98]:
mystr4 = "NationaL stOck ExchAnge"

mystr4.count('a')

2

In [100]:
mystr4.lower()

'national stock exchange'

In [101]:
mystr4.upper()

'NATIONAL STOCK EXCHANGE'

In [102]:
mystr4.capitalize()

'National stock exchange'

In [103]:
mystr4.title()

'National Stock Exchange'

In [107]:
mystr4.swapcase()

'nATIONAl SToCK eXCHaNGE'

In [104]:
print("1234".isdigit())

True

In [105]:
print("Ravi".isalpha())

True

In [106]:
print("Ravi123".isalnum())

True

In [108]:
help(str.split)

Help on method_descriptor:

split(self, /, sep=None, maxsplit=-1)
    Return a list of the substrings in the string, using sep as the separator string.

      sep
        The separator used to split the string.

        When set to None (the default value), will split on any whitespace
        character (including \\n \\r \\t \\f and spaces) and will discard
        empty strings from the result.
      maxsplit
        Maximum number of splits (starting from the left).
        -1 (the default value) means no limit.

    Note, str.split() is mainly useful for data that has been intentionally
    delimited.  With natural text that includes punctuation, consider using
    the regular expression module.

In [109]:
mystr4.split()

['NationaL', 'stOck', 'ExchAnge']

In [110]:
mystr4.split('/')

['NationaL stOck ExchAnge']

In [111]:
mystr4.split('a')

['N', 'tion', 'L stOck ExchAnge']

In [112]:
mystr4.split('a', 1)

['N', 'tionaL stOck ExchAnge']

In [113]:
mystr4.split(maxsplit = 1)

['NationaL', 'stOck ExchAnge']

In [114]:
help(str.join)

Help on method_descriptor:

join(self, iterable, /)
    Concatenate any number of strings.

    The string whose method is called is inserted in between each given string.
    The result is returned as a new string.

    Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'

In [116]:
mylist1 = ['Ravi','Manyata','Maanvi']
' + '.join(mylist1)

'Ravi + Manyata + Maanvi'

In [117]:
sub = "Data Science"
avg = 89.23
num = 50

# unconstraints formatting
ns1 = 'Average {} marks of {} students is {} in exam'.format(sub,num,avg)
ns1

'Average Data Science marks of 50 students is 89.23 in exam'

In [118]:
#formatting
ns2 = 'Average {:s} marks of {:d} students is {:f} in exam'.format(sub,num,avg)
ns2

'Average Data Science marks of 50 students is 89.230000 in exam'

In [119]:
#formatting
ns3 = 'Average {:s} marks of {:d} students is {:f} in exam'.format(num,sub,avg)
ns3

ValueError: Unknown format code 's' for object of type 'int'

In [120]:
# replacement index and data type constraint formatting
ns4 = 'Average {1:s} marks of {0:d} students is {2:f} in exam'.format(num,sub,avg)
ns4

'Average Data Science marks of 50 students is 89.230000 in exam'

In [121]:
# replacement index constraint formatting
ns5 = 'Average {1} marks of {0} students is {2} in exam'.format(num,sub,avg)
ns5

'Average Data Science marks of 50 students is 89.230000 in exam'

In [123]:
ns6 = "Python"

"s{:10s}e".format(ns6)

'sPython    e'

In [124]:
"s{:<10s}e".format(ns6)

'sPython    e'

In [125]:
"s{:>10s}e".format(ns6)

's    Pythone'

In [126]:
"s{:^10s}e".format(ns6)

's  Python  e'

In [127]:
"s{:*10s}e".format(ns6)

ValueError: Invalid format specifier '*10s' for object of type 'str'

In [129]:
"s{:*>10s}e".format(ns6)

's****Pythone'

In [131]:
"s{:*<10s}e".format(ns6)

'sPython****e'

In [132]:
for i in range(1,10,2):
    print("{}".format('*'*i))

*
***
*****
*******
*********

In [133]:
for i in range(1,10,2):
    print("{:^s}".format('*'*i))

*
***
*****
*******
*********

In [134]:
for i in range(1,10,2):
    print("{:^10s}".format('*'*i))

    *
   ***
  *****
 *******
*********

Escape Sequences

In [135]:
print('Stock Exchange')

Stock Exchange

In [137]:
print('Stock\nExchange')

Stock
Exchange

In [138]:
print('Stock\tExchange')

Stock	Exchange

In [139]:
print('Stock\Exchange')

Stock\Exchange

In [140]:
print('Stock\\Exchange')

Stock\Exchange

In [141]:
print('Stock\trading')

Stock	rading

In [142]:
print('Stock\bExchange')

StockExchange

In [143]:
print('Stock\rExchange')

Exchange

In [144]:
print('Exchange\rStock')

Stock

In [145]:
print('c:\tiger')

c:	iger

In [146]:
print('c:\\tiger')

c:\tiger

# Lists

In [149]:
mlist1 = list('Python_For_Data_Science')
print(mlist1)
print(type(mlist1))
print(len(mlist1))

['P', 'y', 't', 'h', 'o', 'n', '_', 'F', 'o', 'r', '_', 'D', 'a', 't', 'a', '_', 'S', 'c', 'i', 'e', 'n', 'c', 'e']
<class 'list'>
23

mlist1[24]

In [150]:
mlist1[24]

IndexError: list index out of range

In [151]:
mylist1 = ["ABC", "DEF", "GHIJ"]
mylist2 = [ 123, 456,  789 ]

In [152]:
mylist1 + mylist2

['ABC', 'DEF', 'GHIJ', 123, 456, 789]

In [153]:
mylist1 * 2

['ABC', 'DEF', 'GHIJ', 'ABC', 'DEF', 'GHIJ']

In [154]:
mylist2[1:2]

[456]

In [155]:
123 in mylist2

True

In [156]:
matrix34 = [[11,12,13,14],[15,16,17,18],[19,20,21,22]]

In [157]:
matrix34[1][1]

16

In [158]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [159]:
print(id(mylist1))

1653047183616

In [160]:
mylist1.append(24)

In [161]:
print(id(mylist1))

1653047183616

In [162]:
mylist1.append([1,2,3])

In [163]:
mylist1

['ABC', 'DEF', 'GHIJ', 24, [1, 2, 3]]

In [164]:
mylist1.pop()

[1, 2, 3]

In [165]:
mylist1

['ABC', 'DEF', 'GHIJ', 24]

In [166]:
mylist1.pop()

24

In [167]:
mylist1

['ABC', 'DEF', 'GHIJ']

In [168]:
mylist1.extend(['KLM','NOPQ','RSTU','VWX','YZ'])

In [169]:
mylist1

['ABC', 'DEF', 'GHIJ', 'KLM', 'NOPQ', 'RSTU', 'VWX', 'YZ']

In [171]:
mylist1.insert(3, 'check')

In [172]:
mylist1

['ABC', 'DEF', 'GHIJ', 'check', 'check', 'KLM', 'NOPQ', 'RSTU', 'VWX', 'YZ']

In [173]:
mylist1.remove(3)

ValueError: list.remove(x): x not in list

In [174]:
mylist1.remove('check')

In [175]:
mylist1

['ABC', 'DEF', 'GHIJ', 'check', 'KLM', 'NOPQ', 'RSTU', 'VWX', 'YZ']

In [177]:
mylist1.remove('check')

In [178]:
mylist1

['ABC', 'DEF', 'GHIJ', 'KLM', 'NOPQ', 'RSTU', 'VWX', 'YZ']

In [180]:
mylist1.reverse()

In [181]:
mylist1

['YZ', 'VWX', 'RSTU', 'NOPQ', 'KLM', 'GHIJ', 'DEF', 'ABC']

In [182]:
mylist1.index(3)

ValueError: 3 is not in list

In [183]:
mylist1.index('ABC')

7

In [184]:
mylist1.index('YZ','ABC')

TypeError: slice indices must be integers or have an __index__ method

In [185]:
print(mylist1.index('YZ','ABC'))

TypeError: slice indices must be integers or have an __index__ method

In [188]:
ord('a')    # Ordinal Value

97

In [187]:
ord('A')

65

In [189]:
chr(97)

'a'

In [190]:
chr(0x20B9)   # Unicode is input and it prints the associated character

'₹'

In [191]:
max(mylist1)

'YZ'

In [192]:
min(mylist1)

'ABC'

In [193]:
mylist3 = [11,22,33]
mylist4 = mylist3    # creates another view of the same list

In [194]:
id(mylist3)

1653039015872

In [195]:
id(mylist4)

1653039015872

In [197]:
mylist4.append(44)

In [198]:
mylist3

[11, 22, 33, 44]

In [199]:
mylist3 is mylist4

True

In [200]:
mylist5 = mylist4.copy()

In [201]:
mylist5.append(55)

In [202]:
mylist4

[11, 22, 33, 44]

In [203]:
mylist5

[11, 22, 33, 44, 55]

In [205]:
def append_in_list(list,item):
    list.append(item)
    
append_in_list(mylist5,66)

In [206]:
mylist5

[11, 22, 33, 44, 55, 66]

In [207]:
mylist5.sort(reverse=True)

In [208]:
mylist5

[66, 55, 44, 33, 22, 11]

In [209]:
len(mylist5)

6

In [214]:
isinstance(23, int)

True

In [215]:
isinstance(23, ( int, float ))

True

In [216]:
isinstance(23.67, int)

False

In [217]:
isinstance([], list)

True

In [212]:
def keysort(obj):
    if isinstance(obj, (int, float)):
        return obj
    if isinstance(obj, (str, list)):
        return len(obj)
    
    return 1000


mylist6 = [ 22, 77,44, 11, 'hello', [ 123, 456, 789 ], (555,888,333)]
mylist6.sort(key = keysort)

In [213]:
mylist6

[[123, 456, 789], 'hello', 11, 22, 44, 77, (555, 888, 333)]

# Tuple

In [218]:
mt1 = (123,456,789)

print(type(mt1))
print(len(mt1))
print(mt1)

<class 'tuple'>
3
(123, 456, 789)

In [220]:
mt1 = (123)

print(type(mt1))
print(mt1)

<class 'int'>
123

In [222]:
mt1 = (123,)        # for single element tuple, we must include one comma

print(type(mt1))
print(len(mt1))
print(mt1)

<class 'tuple'>
1
(123,)

In [223]:
print(dir(tuple))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

# Dictionary

In [224]:
md1 = {"Name":"Ravi", "Branch": "MG Road", "City":"Ballia",91:"India"}

In [225]:
print(dir(dict))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [226]:
md1["PIN"] = "277208"

In [227]:
md1

{'Name': 'Ravi',
 'Branch': 'MG Road',
 'City': 'Ballia',
 91: 'India',
 'PIN': '277208'}

In [230]:
md1["Balance"] = 0

In [231]:
md1

{'Name': 'Ravi',
 'Branch': 'MG Road',
 'City': 'Ballia',
 91: 'India',
 'PIN': '277208',
 'Balance': 0}

In [232]:
md1["Balance"] += 500

In [233]:
md1

{'Name': 'Ravi',
 'Branch': 'MG Road',
 'City': 'Ballia',
 91: 'India',
 'PIN': '277208',
 'Balance': 500}

In [235]:
del md1['Branch']

In [236]:
md1

{'Name': 'Ravi',
 'City': 'Ballia',
 91: 'India',
 'PIN': '277208',
 'Balance': 500}

In [237]:
md1.clear()

In [238]:
md1

{}

In [234]:
hash('Python')

453689473274202079

In [239]:
md2 = {"Name":"Ravi", "Branch": "MG Road", "City":"Ballia",91:"India"}

In [242]:
k = md2.keys
v = md2.values
kv = md2.items

In [244]:
print(k)
print(v)
print(kv)

<built-in method keys of dict object at 0x00000180E17C8280>
<built-in method values of dict object at 0x00000180E17C8280>
<built-in method items of dict object at 0x00000180E17C8280>

In [245]:
print(type(k))
print(type(v))
print(type(kv))

<class 'builtin_function_or_method'>
<class 'builtin_function_or_method'>
<class 'builtin_function_or_method'>

In [246]:
md2.get("Branch")

'MG Road'

In [248]:
md2.get("State")

In [249]:
md2.get("State", "Unknown")

'Unknown'

In [250]:
md2

{'Name': 'Ravi', 'Branch': 'MG Road', 'City': 'Ballia', 91: 'India'}

In [251]:
md3 = {'Branch': 'GT Road', 'State': 'Uttar Pradesh'}

In [252]:
md2.update(md3)

In [253]:
md2

{'Name': 'Ravi',
 'Branch': 'GT Road',
 'City': 'Ballia',
 91: 'India',
 'State': 'Uttar Pradesh'}

In [254]:
md2.update([('Bank','ICICI'),('State', 'UP')])

In [255]:
md2

{'Name': 'Ravi',
 'Branch': 'GT Road',
 'City': 'Ballia',
 91: 'India',
 'State': 'UP',
 'Bank': 'ICICI'}

In [256]:
md2.setdefault('Name')

'Ravi'

In [257]:
md2.setdefault('Country')

In [258]:
md2.setdefault('Country', 'India')

In [259]:
del md2['Country']

In [260]:
md2.setdefault('Country', 'India')

'India'