# Jan 07, 2024

# Dictionary

In [8]:
klist = ['Bank','Branch','City']
vlist = ['Axis','MG Road','Bangalore']

z = zip(klist,vlist)      # Iterator: can be accessed only once. and z will be empty after that
print(type(z))
print(z)

<class 'zip'>
<zip object at 0x000001CD162FED00>

In [9]:
list(z)

[('Bank', 'Axis'), ('Branch', 'MG Road'), ('City', 'Bangalore')]

In [10]:
list(z)

[]

In [11]:
klist = ['Bank','Branch','City']
vlist = ['Axis','MG Road','Bangalore']

md1 = dict(zip(klist,vlist))
print(md1)

{'Bank': 'Axis', 'Branch': 'MG Road', 'City': 'Bangalore'}

# Set

- unordered collection of immutable items
- Every element is unique ( no duplicates )

In [12]:
ms1 = { 2,4,6,8,0,2,6,5,3,8,1}
print(type(ms1))
print(ms1)
print(len(ms1))

<class 'set'>
{0, 1, 2, 3, 4, 5, 6, 8}
8

In [14]:
md2 = {}
ms2 = set()

print(type(md2))
print(type(ms2))

<class 'dict'>
<class 'set'>

In [15]:
ms3 = {2,3,5,7,'Hello'}
print(ms3)

{2, 3, 'Hello', 5, 7}

In [16]:
help(set)

Help on class set in module builtins:

class set(object)
 |  set() -> new empty set object
 |  set(iterable) -> new set object
 |
 |  Build an unordered collection of unique elements.
 |
 |  Methods defined here:
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __contains__(...)
 |      x.__contains__(y) <==> y in x.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iand__(self, value, /)
 |      Return self&=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __isub__(self, value, /)
 |      Return self-=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __ixor__(self, value, /)
 |      Return self^=value.
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(...)
 |      S.__sizeof__() -> size of S in memory, in bytes
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  add(...)
 |      Add an element to a set.
 |
 |      This has no effect if the element is already present.
 |
 |  clear(...)
 |      Remove all elements from this set.
 |
 |  copy(...)
 |      Return a shallow copy of a set.
 |
 |  difference(...)
 |      Return the difference of two or more sets as a new set.
 |
 |      (i.e. all elements that are in this set but not the others.)
 |
 |  difference_update(...)
 |      Remove all elements of another set from this set.
 |
 |  discard(...)
 |      Remove an element from a set if it is a member.
 |
 |      Unlike set.remove(), the discard() method does not raise
 |      an exception when an element is missing from the set.
 |
 |  intersection(...)
 |      Return the intersection of two sets as a new set.
 |
 |      (i.e. all elements that are in both sets.)
 |
 |  intersection_update(...)
 |      Update a set with the intersection of itself and another.
 |
 |  isdisjoint(...)
 |      Return True if two sets have a null intersection.
 |
 |  issubset(...)
 |      Report whether another set contains this set.
 |
 |  issuperset(...)
 |      Report whether this set contains another set.
 |
 |  pop(...)
 |      Remove and return an arbitrary set element.
 |      Raises KeyError if the set is empty.
 |
 |  remove(...)
 |      Remove an element from a set; it must be a member.
 |
 |      If the element is not a member, raise a KeyError.
 |
 |  symmetric_difference(...)
 |      Return the symmetric difference of two sets as a new set.
 |
 |      (i.e. all elements that are in exactly one of the sets.)
 |
 |  symmetric_difference_update(...)
 |      Update a set with the symmetric difference of itself and another.
 |
 |  union(...)
 |      Return the union of sets as a new set.
 |
 |      (i.e. all elements that are in either set.)
 |
 |  update(...)
 |      Update a set with the union of itself and others.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [17]:
help(set.pop)

Help on method_descriptor:

pop(...)
    Remove and return an arbitrary set element.
    Raises KeyError if the set is empty.

In [18]:
ms3.pop()

2

In [19]:
ms3.pop()

3

In [20]:
ms3.pop()

'Hello'

In [21]:
ms3.pop()

5

In [22]:
ms3.pop()

7

In [23]:
ms3.pop()

KeyError: 'pop from an empty set'

In [24]:
ms2

set()

In [25]:
print(ms2)

set()

In [26]:
print(ms3)

set()

In [27]:
print(ms1)

{0, 1, 2, 3, 4, 5, 6, 8}

In [29]:
ms4 = ms1

print(id(ms1))
print(id(ms4))

1980351730112
1980351730112

In [30]:
ms5 = ms1.copy()

print(id(ms1))
print(id(ms5))

1980351730112
1980351730784

In [31]:
ml1 = list(md1)

In [32]:
ml1

['Bank', 'Branch', 'City']

In [33]:
ms6 = set(ml1)

In [34]:
ms6

{'Bank', 'Branch', 'City'}

In [35]:
ms7 = set(md1)

In [36]:
ms7

{'Bank', 'Branch', 'City'}

In [37]:
md1

{'Bank': 'Axis', 'Branch': 'MG Road', 'City': 'Bangalore'}

In [49]:
ms1 = {1,3,5,7,9,4,6}
ms2 = {2,4,6,8,9,0,2,3}

In [40]:
ms1

{1, 3, 4, 5, 6, 7, 9}

In [41]:
ms2

{0, 2, 3, 4, 6, 8, 9}

In [42]:
ms1.union(ms2)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [43]:
ms1.intersection(ms2)

{3, 4, 6, 9}

In [44]:
ms1.xor(ms2)

AttributeError: 'set' object has no attribute 'xor'

In [47]:
ns1 = ms1.symmetric_difference(ms2)
ns1

{0, 1, 2, 5, 7, 8}

In [50]:
print(ms1)
print(ms2)

{1, 3, 4, 5, 6, 7, 9}
{0, 2, 3, 4, 6, 8, 9}

In [51]:
ms1.symmetric_difference_update(ms2)

In [52]:
ms1

{0, 1, 2, 5, 7, 8}

In [53]:
import sys
sys.version

'3.11.5 | packaged by Anaconda, Inc. | (main, Sep 11 2023, 13:26:23) [MSC v.1916 64 bit (AMD64)]'

# Decision Making

In [54]:
age = 26

if age >= 18:
    result = 'Voter'
else:
    result = 'Invalid Voter'
    
print(result)

Voter

In [55]:
age = 26

result = 'Voter' if age >= 18 else 'Invalid Voter'
    
print(result)

Voter

def temp_check(temp):            # Try this in one liner
    if temp > 99:
        return 'Hot'
    elif temp > 60:
        return 'Normal'
    else:
        return 'Cold'
    
temp = int(input('Enter Temperature : '))
print(temp_check(temp))

In [56]:
temp = 67

result = 'Hot' if temp > 99 else 'Cold' if temp < 60 else 'Normal'    

print(result)

Normal

In [57]:
temp = 999

result = 'Hot' if temp > 99 else 'Cold' if temp < 60 else 'Normal'    

print(result)

Hot

In [58]:
temp =23

result = 'Hot' if temp > 99 else 'Cold' if temp < 60 else 'Normal'    

print(result)

Cold

# Range

range(END)
range(START,END)
range(START,END,STEP_SIZE)

In [59]:
r = range(10)
print(type(r))
print(len(r))
print(r)

<class 'range'>
10
range(0, 10)

In [60]:
list(r)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [61]:
list(range(10,30,2))

[10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [62]:
import sys
sys.getsizeof(r)                # it returns number iof bytes stored in memory for the object

48

In [64]:
r1 = range(1000)
sys.getsizeof(r1)               # it does not create all the valuees. rather, it creates, start, end and step size. 
                                # So size o range will be according to it.

48

In [65]:
r1[-1]

999

In [68]:
r1[-9999]

IndexError: range object index out of range

In [69]:
r1[-1000]

0

# Looping

While Loop
For Loop

In [71]:
lcount = 10
while lcount <= 30:
    print(lcount)
    lcount += 2
print('Done')

10
12
14
16
18
20
22
24
26
28
30
Done

In [72]:
print(10,20,30, sep='__::__', end='EOF')

10__::__20__::__30EOF

In [75]:
for letter in "python":                        # for Loop exits when STOP_ITERATION is raised.
    print(letter, end = ' ')

p y t h o n

In [76]:
dir(__builtin__)

['ArithmeticError',
 'AssertionError',
 'AttributeError',
 'BaseException',
 'BaseExceptionGroup',
 'BlockingIOError',
 'BrokenPipeError',
 'BufferError',
 'BytesWarning',
 'ChildProcessError',
 'ConnectionAbortedError',
 'ConnectionError',
 'ConnectionRefusedError',
 'ConnectionResetError',
 'DeprecationWarning',
 'EOFError',
 'Ellipsis',
 'EncodingWarning',
 'EnvironmentError',
 'Exception',
 'ExceptionGroup',
 'False',
 'FileExistsError',
 'FileNotFoundError',
 'FloatingPointError',
 'FutureWarning',
 'GeneratorExit',
 'IOError',
 'ImportError',
 'ImportWarning',
 'IndentationError',
 'IndexError',
 'InterruptedError',
 'IsADirectoryError',
 'KeyError',
 'KeyboardInterrupt',
 'LookupError',
 'MemoryError',
 'ModuleNotFoundError',
 'NameError',
 'None',
 'NotADirectoryError',
 'NotImplemented',
 'NotImplementedError',
 'OSError',
 'OverflowError',
 'PendingDeprecationWarning',
 'PermissionError',
 'ProcessLookupError',
 'RecursionError',
 'ReferenceError',
 'ResourceWarning',
 'RuntimeError',
 'RuntimeWarning',
 'StopAsyncIteration',
 'StopIteration',
 'SyntaxError',
 'SyntaxWarning',
 'SystemError',
 'SystemExit',
 'TabError',
 'TimeoutError',
 'True',
 'TypeError',
 'UnboundLocalError',
 'UnicodeDecodeError',
 'UnicodeEncodeError',
 'UnicodeError',
 'UnicodeTranslateError',
 'UnicodeWarning',
 'UserWarning',
 'ValueError',
 'Warning',
 'WindowsError',
 'ZeroDivisionError',
 '__IPYTHON__',
 '__build_class__',
 '__debug__',
 '__doc__',
 '__import__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'abs',
 'aiter',
 'all',
 'anext',
 'any',
 'ascii',
 'bin',
 'bool',
 'breakpoint',
 'bytearray',
 'bytes',
 'callable',
 'chr',
 'classmethod',
 'compile',
 'complex',
 'copyright',
 'credits',
 'delattr',
 'dict',
 'dir',
 'display',
 'divmod',
 'enumerate',
 'eval',
 'exec',
 'execfile',
 'filter',
 'float',
 'format',
 'frozenset',
 'get_ipython',
 'getattr',
 'globals',
 'hasattr',
 'hash',
 'help',
 'hex',
 'id',
 'input',
 'int',
 'isinstance',
 'issubclass',
 'iter',
 'len',
 'license',
 'list',
 'locals',
 'map',
 'max',
 'memoryview',
 'min',
 'next',
 'object',
 'oct',
 'open',
 'ord',
 'pow',
 'print',
 'property',
 'range',
 'repr',
 'reversed',
 'round',
 'runfile',
 'set',
 'setattr',
 'slice',
 'sorted',
 'staticmethod',
 'str',
 'sum',
 'super',
 'tuple',
 'type',
 'vars',
 'zip']

In [78]:
for char in 'PythonforDataScience':
    if char in 'aeiouAEIOU':
        print(char, end=', ')

o, o, a, a, i, e, e,

In [79]:
for num in range(10):
    print(num, end=', ')

0, 1, 2, 3, 4, 5, 6, 7, 8, 9,

In [80]:
for num in range(0,100,2):
    print(num, end=', ')

0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98,

In [81]:
# Dictionary Looping
md1

{'Bank': 'Axis', 'Branch': 'MG Road', 'City': 'Bangalore'}

In [82]:
for k in md1:
    print(k, end=', ')

Bank, Branch, City,

In [84]:
for k in md1:
    print(k, md1[k], sep=' : ')

Bank : Axis
Branch : MG Road
City : Bangalore

In [85]:
a, b = 10, 20
print(a)
print(b)

10
20

In [86]:
a = 10, 20
print(a)

(10, 20)

In [87]:
a, b = 10,20, 30

ValueError: too many values to unpack (expected 2)

In [89]:
a = (10,20)
print(a)

(10, 20)

In [90]:
a, b = (10,20)                # Unpacking
print(a, b)

10 20

In [91]:
a, b = (10,20,30,40)

ValueError: too many values to unpack (expected 2)

In [92]:
for k in md1:
    print(k)

Bank
Branch
City

In [94]:
for k in md1.keys():
    print(k)

Bank
Branch
City

In [95]:
for v in md1.values():
    print(v)

Axis
MG Road
Bangalore

In [96]:
for k in md1.items():
    print(k)

('Bank', 'Axis')
('Branch', 'MG Road')
('City', 'Bangalore')

In [98]:
for k, v in md1.items():
    print(k,v, sep=' : ')

Bank : Axis
Branch : MG Road
City : Bangalore

In [99]:
for k, v in md1:
    print(k,v, sep=' : ')

ValueError: too many values to unpack (expected 2)

Break
Continue

# Enumerate

In [101]:
ms1 = 'Python'
e = enumerate(ms1)
print(type(e))
print(e)
print(list(e))
print(list(e))

<class 'enumerate'>
<enumerate object at 0x000001CD16FBD030>
[(0, 'P'), (1, 'y'), (2, 't'), (3, 'h'), (4, 'o'), (5, 'n')]
[]

In [102]:
ms1 = 'PythonforDataScience'
list_of_indices = []
for index, value in enumerate(ms1):
    if value in 'aeiouAEIOU':
        print(index, value)
        list_of_indices.append(index)
        
print(list_of_indices)

4 o
7 o
10 a
12 a
15 i
16 e
19 e
[4, 7, 10, 12, 15, 16, 19]

# Functions

In [ ]:
# Rule_1: While defining aa function, required_parameters must be specified before default_parameters

In [ ]:
# Rule_2: While calling a function, positionally mapped values must be before parameter-keyword mapping based values

In [ ]:
# Rule_3: A Variable Tuple container, can be populated only by passing values in positional style

In [ ]:
# Rule_4: If the function has a variable dict, it must be specified only in the end

In [103]:
def mf12(r0,r1,*args, d0=111, d1 = 222, **kwargs):         ## IDEAL Signature
    print("r0", r0)
    print("r1", r1)
    print("args", args)
    print("d0", d0)
    print("d1", d1)
    print("kwargs", kwargs)

In [107]:
mf12(10,20,30,40,50,'Hello',d0=555,d1=666, d2=300,d3=892, d4='Hello')

r0 10
r1 20
args (30, 40, 50, 'Hello')
d0 111
d1 222
kwargs {'d2': 300, 'd3': 892, 'd4': 'Hello'}

In [ ]:
# A variable dict can be populated only in

# Lambda

In [108]:
addsum = lambda p0, p1 : p0 + p1

ms = addsum(10,20)
print(ms)
print(type(addsum))

30
<class 'function'>

In [110]:
isEven = lambda num : (num%2) == 0
isOdd  = lambda num : (num%2) != 0

print(isEven(20))
print(isEven(21))
print(isOdd(20))
print(isOdd(21))

True
False
False
True

In [112]:
CheckOddEven = lambda num : 'Even' if ( num % 2 ) == 0 else 'Odd'

print(CheckOddEven(20))
print(CheckOddEven(21))

Even
Odd

In [113]:
tempCheck = lambda temp : 'Hot' if temp > 99 else 'Cold' if temp < 60 else 'Normal'

print(tempCheck(100))
print(tempCheck(70))
print(tempCheck(20))

Hot
Normal
Cold

In [114]:
kmlist = [1,2,3,4,5]

km2m = lambda km : km * 1000

km2m(5)

5000

In [115]:
m = map(km2m, kmlist)
print(type(m))
print(m)
print(list(m))
print(list(m))

<class 'map'>
<map object at 0x000001CD17009CC0>
[1000, 2000, 3000, 4000, 5000]
[]

In [116]:
m = map(lambda m: m*1000, kmlist)    # Anonymus uses of Lambda Function
print(type(m))
print(m)
print(list(m))
print(list(m))

<class 'map'>
<map object at 0x000001CD1700B6D0>
[1000, 2000, 3000, 4000, 5000]
[]

In [117]:
mmarks = [98,97,96]
emarks = [88,97,89]

tmarks = list(map(lambda m,e: m+e, mmarks, emarks))

print(tmarks)

[186, 194, 185]

# NameSpace

In [120]:
g1 = 111
g2 = 222

def mf15(v3):
    v4 = 444
    global g1
    global g3
    
    g1 = 999
    g3 = 888
    
    local_name_space = locals()
    print(local_name_space)
    print(2,g1,g2,g3,v3,v4)
    
print(1,g1,g2)
mf15(333)
print(3,g1,g2,g3)

1 111 222
{'v3': 333, 'v4': 444}
2 999 222 888 333 444
3 999 222 888

# Recursion

In [122]:
def fact(num):
    if num == 0: return 1
    return num * fact(num - 1)

fact(5)

120

In [123]:
fact1 = lambda num : 1 if num == 0 else num * fact1(num - 1)
print(fact1(5))
print(fact1(6))

120
720

In [126]:
def fib(n):
    if n <= 1:
        return n
    return fib(n-1) + fib(n-2)

In [127]:
for i in range(10):
    
    print(fib(i), end = ' ')

0 1 1 2 3 5 8 13 21 34

# List Comprehension

In [131]:
sqlist1 = []

for num in range(1,6):
    result = num ** 2
    sqlist1.append(result)
    
print(sqlist1)

[1, 4, 9, 16, 25]

In [133]:
sqlist2 = [ num**2 for num in range(1,6)]
print(sqlist2)

[1, 4, 9, 16, 25]

In [135]:
evsqlist2 = [ num**2 for num in range(1,10) if num%2==0]
print(evsqlist2)

[0, 4, 16, 36, 64]

In [136]:
eolist = []

for i in range(1,30):
    if i%3 == 0:
        if i%2 == 0:
            result = (i,'Even')
        else:
            result = (i,'Odd')
        eolist.append(result)

print(eolist)

[(3, 'Odd'), (6, 'Even'), (9, 'Odd'), (12, 'Even'), (15, 'Odd'), (18, 'Even'), (21, 'Odd'), (24, 'Even'), (27, 'Odd')]

In [137]:
eolist1 = [ (i,'Even') if i%2 == 0  else (i,'Odd') for i in range(1,30) if i%3 == 0 ]
eolist1

[(3, 'Odd'),
 (6, 'Even'),
 (9, 'Odd'),
 (12, 'Even'),
 (15, 'Odd'),
 (18, 'Even'),
 (21, 'Odd'),
 (24, 'Even'),
 (27, 'Odd')]

In [138]:
eolist2 = [ (i,'Even' if i%2 == 0  else 'Odd') for i in range(1,30) if i%3 == 0 ]
eolist2

[(3, 'Odd'),
 (6, 'Even'),
 (9, 'Odd'),
 (12, 'Even'),
 (15, 'Odd'),
 (18, 'Even'),
 (21, 'Odd'),
 (24, 'Even'),
 (27, 'Odd')]

In [139]:
## DIY: Dict and Set comprehension
list1 = ['a','b','c']
list2 = [1,2,3]

clist1 = []

for i in list1:
    for j in list2:
        result = (i,j)
        clist1.append(result)
        
print(clist1)

[('a', 1), ('a', 2), ('a', 3), ('b', 1), ('b', 2), ('b', 3), ('c', 1), ('c', 2), ('c', 3)]

In [141]:
## DIY: Dict and Set comprehension
list1 = ['a','b','c']
list2 = [1,2,3]

clist1 = [ (i,j) for i in list1 for j in list2]
      
print(clist1)

[('a', 1), ('a', 2), ('a', 3), ('b', 1), ('b', 2), ('b', 3), ('c', 1), ('c', 2), ('c', 3)]

In [ ]:
fib2 = lambda n: n if

# Numpy

In [142]:
import numpy as np

# Array Creation

In [149]:
mylist1 = [11,22,33,44,55]

n5 = np.array(mylist1)


print(type(n5))
print('ndim',n5.ndim)
print('shape',n5.shape)
print('size',n5.size)
print('itemsize',n5.itemsize)
print('dtype',n5.dtype)
print(n5)

<class 'numpy.ndarray'>
ndim 1
shape (6,)
size 6
itemsize 4
dtype int32
[ 11  22  33  44  55 360]

In [150]:
mylist1 = [11,22,33,44,55,260]

n5 = np.array(mylist1, dtype=np.int8)


print(type(n5))
print('ndim',n5.ndim)
print('shape',n5.shape)
print('size',n5.size)
print('itemsize',n5.itemsize)
print('dtype',n5.dtype)
print(n5)

<class 'numpy.ndarray'>
ndim 1
shape (6,)
size 6
itemsize 1
dtype int8
[11 22 33 44 55  4]

C:\Users\Ravi\AppData\Local\Temp\ipykernel_14100\1779104530.py:3: DeprecationWarning: NumPy will stop allowing conversion of out-of-bound Python integers to integer arrays.  The conversion of 260 to int8 will fail in the future.
For the old behavior, usually:
    np.array(value).astype(dtype)`
will give the desired result (the cast overflows).
  n5 = np.array(mylist1, dtype=np.int8)

In [151]:
mylist1 = [11,22,33,44,55]

n5 = np.array(mylist1)


print(type(n5))
print('ndim',n5.ndim)
print('shape',n5.shape)
print('size',n5.size)
print('itemsize',n5.itemsize)
print('dtype',n5.dtype)
print(n5)

<class 'numpy.ndarray'>
ndim 1
shape (5,)
size 5
itemsize 4
dtype int32
[11 22 33 44 55]

In [152]:
mylist2 = [65, 75, 85, 66, 76]

n5 = np.array(mylist2)
print(n5)
print(n5+10)

[65 75 85 66 76]
[75 85 95 76 86]

In [154]:
high = [470,475,480,482,478,485]
low  = [460,462,470,473,469,471]

nhigh = np.array(high)
nlow  = np.array(low)

nvolatile = nhigh-nlow
nvolatile

array([10, 13, 10,  9,  9, 14])

In [155]:
print(nvolatile)

[10 13 10  9  9 14]

# 2 Dimensional Matrix

In [156]:
mylist3 = [
    [111,222,333],
    [444,555,666]
]

In [157]:
n23 = np.array(mylist3)

In [159]:
print(type(n23))
print('ndim',n23.ndim)
print('shape',n23.shape)
print('size',n23.size)
print('itemsize',n23.itemsize)
print('dtype',n23.dtype)
print(n23)

<class 'numpy.ndarray'>
ndim 2
shape (2, 3)
size 6
itemsize 4
dtype int32
[[111 222 333]
 [444 555 666]]

In [160]:
# create a 6x4 array using Numpy with numbers between 10 and 100
n64 = np.random.randint(low=10, high=100, size=(6,4))
n64

array([[86, 39, 40, 69],
       [47, 38, 81, 99],
       [60, 28, 32, 46],
       [75, 54, 86, 29],
       [51, 67, 79, 39],
       [60, 62, 63, 29]])

In [161]:
# create a 6x4 array using Numpy with numbers between 10 and 100
np.random.seed(23)                                              # ax2 + bx + c
n64 = np.random.randint(low=10, high=100, size=(6,4))
n64

array([[93, 50, 83, 64],
       [41, 86, 49, 35],
       [61, 16, 55, 22],
       [59, 76, 85, 95],
       [79, 74, 22, 31],
       [58, 51, 89, 72]])

In [162]:
np.arange(10)                           # arange always returns 1 dimensional array

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [163]:
np.arange(10,20)

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19])

In [164]:
np.arange(10,30,2)

array([10, 12, 14, 16, 18, 20, 22, 24, 26, 28])

In [165]:
np.arange(10,1,-2)

array([10,  8,  6,  4,  2])

In [167]:
np.arange(10.1,99.99,23.45)

array([10.1 , 33.55, 57.  , 80.45])

In [168]:
n64 = np.arange(24).reshape(6,4)
n64

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19],
       [20, 21, 22, 23]])

In [169]:
n64.reshape(2,3,4)

array([[[ 0,  1,  2,  3],
        [ 4,  5,  6,  7],
        [ 8,  9, 10, 11]],

       [[12, 13, 14, 15],
        [16, 17, 18, 19],
        [20, 21, 22, 23]]])

# Matrix Operations

In [170]:
n34a = np.arange(1,13).reshape(3,4)

In [171]:
n34b = np.arange(1,13).reshape(3,4)

In [173]:
n34a

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [174]:
n34b

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [175]:
n34a+n34b

array([[ 2,  4,  6,  8],
       [10, 12, 14, 16],
       [18, 20, 22, 24]])

In [176]:
n34a-n34b

array([[0, 0, 0, 0],
       [0, 0, 0, 0],
       [0, 0, 0, 0]])

In [177]:
n34a*n34b

array([[  1,   4,   9,  16],
       [ 25,  36,  49,  64],
       [ 81, 100, 121, 144]])

In [178]:
n34a@n34b

ValueError: matmul: Input operand 1 has a mismatch in its core dimension 0, with gufunc signature (n?,k),(k,m?)->(n?,m?) (size 3 is different from 4)

In [179]:
n43 = n34b.T                          # Transpose the Matrix

In [180]:
n43

array([[ 1,  5,  9],
       [ 2,  6, 10],
       [ 3,  7, 11],
       [ 4,  8, 12]])

In [181]:
n34a@n43                               # typical Matrix Multiplication

array([[ 30,  70, 110],
       [ 70, 174, 278],
       [110, 278, 446]])

# Matrix Access

In [183]:
np.random.seed(23)
n89 = np.random.randint(low=10, high=100, size=(8,9))
n89

array([[93, 50, 83, 64, 41, 86, 49, 35, 61],
       [16, 55, 22, 59, 76, 85, 95, 79, 74],
       [22, 31, 58, 51, 89, 72, 67, 29, 43],
       [69, 49, 25, 46, 75, 11, 53, 25, 96],
       [93, 68, 35, 76, 84, 45, 66, 23, 70],
       [32, 48, 41, 88, 10, 31, 16, 42, 42],
       [24, 41, 88, 93, 90, 80, 76, 92, 95],
       [65, 37, 72, 53, 84, 81, 52, 93, 31]])

In [ ]:
Access Grammer
n89[row_index]

In [184]:
n89[2]

array([22, 31, 58, 51, 89, 72, 67, 29, 43])

In [185]:
n89[2,3]

51

In [186]:
n89[2][3]                               # This has performance issue. As the way Numpy handles it is different

51

In [187]:
n89[2:7, 1:4]

array([[31, 58, 51],
       [49, 25, 46],
       [68, 35, 76],
       [48, 41, 88],
       [41, 88, 93]])

In [188]:
n89[2:7:2, 1:4]

array([[31, 58, 51],
       [68, 35, 76],
       [41, 88, 93]])

In [189]:
n89[[1,3,6,7]]

array([[16, 55, 22, 59, 76, 85, 95, 79, 74],
       [69, 49, 25, 46, 75, 11, 53, 25, 96],
       [24, 41, 88, 93, 90, 80, 76, 92, 95],
       [65, 37, 72, 53, 84, 81, 52, 93, 31]])

In [190]:
n89[[1,3,-2,-1]]

array([[16, 55, 22, 59, 76, 85, 95, 79, 74],
       [69, 49, 25, 46, 75, 11, 53, 25, 96],
       [24, 41, 88, 93, 90, 80, 76, 92, 95],
       [65, 37, 72, 53, 84, 81, 52, 93, 31]])

In [193]:
n89[[1,3,6,7],3:6]

array([[59, 76, 85],
       [46, 75, 11],
       [93, 90, 80],
       [53, 84, 81]])

In [201]:
n89[(1,3),(2,4)]

array([22, 75])

In [202]:
n89

array([[93, 50, 83, 64, 41, 86, 49, 35, 61],
       [16, 55, 22, 59, 76, 85, 95, 79, 74],
       [22, 31, 58, 51, 89, 72, 67, 29, 43],
       [69, 49, 25, 46, 75, 11, 53, 25, 96],
       [93, 68, 35, 76, 84, 45, 66, 23, 70],
       [32, 48, 41, 88, 10, 31, 16, 42, 42],
       [24, 41, 88, 93, 90, 80, 76, 92, 95],
       [65, 37, 72, 53, 84, 81, 52, 93, 31]])

In [204]:
list(np.ndenumerate(n89))

[((0, 0), 93),
 ((0, 1), 50),
 ((0, 2), 83),
 ((0, 3), 64),
 ((0, 4), 41),
 ((0, 5), 86),
 ((0, 6), 49),
 ((0, 7), 35),
 ((0, 8), 61),
 ((1, 0), 16),
 ((1, 1), 55),
 ((1, 2), 22),
 ((1, 3), 59),
 ((1, 4), 76),
 ((1, 5), 85),
 ((1, 6), 95),
 ((1, 7), 79),
 ((1, 8), 74),
 ((2, 0), 22),
 ((2, 1), 31),
 ((2, 2), 58),
 ((2, 3), 51),
 ((2, 4), 89),
 ((2, 5), 72),
 ((2, 6), 67),
 ((2, 7), 29),
 ((2, 8), 43),
 ((3, 0), 69),
 ((3, 1), 49),
 ((3, 2), 25),
 ((3, 3), 46),
 ((3, 4), 75),
 ((3, 5), 11),
 ((3, 6), 53),
 ((3, 7), 25),
 ((3, 8), 96),
 ((4, 0), 93),
 ((4, 1), 68),
 ((4, 2), 35),
 ((4, 3), 76),
 ((4, 4), 84),
 ((4, 5), 45),
 ((4, 6), 66),
 ((4, 7), 23),
 ((4, 8), 70),
 ((5, 0), 32),
 ((5, 1), 48),
 ((5, 2), 41),
 ((5, 3), 88),
 ((5, 4), 10),
 ((5, 5), 31),
 ((5, 6), 16),
 ((5, 7), 42),
 ((5, 8), 42),
 ((6, 0), 24),
 ((6, 1), 41),
 ((6, 2), 88),
 ((6, 3), 93),
 ((6, 4), 90),
 ((6, 5), 80),
 ((6, 6), 76),
 ((6, 7), 92),
 ((6, 8), 95),
 ((7, 0), 65),
 ((7, 1), 37),
 ((7, 2), 72),
 ((7, 3), 53),
 ((7, 4), 84),
 ((7, 5), 81),
 ((7, 6), 52),
 ((7, 7), 93),
 ((7, 8), 31)]