# 06/Jan/2024

# Python for Data Science.

1.  Write  a Code to print hello world

In [ ]:
print('Hello World')

In [ ]:
print('HW')  #  Line Comment
#  entire line commented  print('HW')
print('NSE # Mumbai')

exchange = "BSE";  print(exchange)

usd = "Dollar: $";  rupee = '\u20B9'

print(usd, rupee)

In [ ]:
print("a \# b")

In [ ]:
print("a\nb")

In [ ]:
print(usd)

In [ ]:
print(rupee)

In [ ]:
print(usd, rupee)

In [ ]:
exchange = 'NSE'
print(exchange)

In [ ]:
exchange = 'nse is 
in mumbai. bse
also in mumbai'

In [ ]:
exchange = '''  nse is
in mumbai. bse is also
in Mumbai
'''

In [ ]:
print(exchange)

In [ ]:
e1 = 'NSE'
'''
NSE is 
in Mumbai.  Block Comments
'''

print(e1)

In [ ]:
e1 = 20
E1 = 30

print(e1, E1)

In [ ]:
91e1 = 'NSE'

In [ ]:
stock$ex = 'BSE'

In [ ]:
if = 20

In [ ]:
import keyword
print(keyword.kwlist)

In [ ]:
keyword.kwlist

Indentation

In [ ]:
sensor = 0


if sensor == 0:
    print('Sensor is OFF')
    print('Switch Motor OFF')
else:
    print('Sensor is ON')
    print('Switch Motor ON')
    
print('Done')

In [ ]:
sensor = 0


if sensor == 0:
    print('Sensor is OFF')
    print('Switch Motor OFF')
else:
        print('Sensor is ON')
         print('Switch Motor ON')
    
print('Done')

In [ ]:
abcd = 2000
print(abcd)
print(type(abcd))
print(id(abcd))

In [ ]:
abcd = 'hello'
print(abcd)
print(type(abcd))
print(id(abcd))

In [ ]:
a = 2000
b = 2000

print(a,b)

print(id(a))
print(id(b))

In [ ]:
a = 200
b = 200

print(a,b)

print(id(a))
print(id(b))

In [ ]:
##   integers -5 to 256 are prefixed at  boot_time

In [ ]:
a = 200
b = 200

print(a,b)

print(id(a))
print(id(b))

b = b + 500
print(b)
print(id(b))

In [ ]:
##  in python, there is no contract bn the variable and the memory location.

In [ ]:
print('hello')

In [ ]:
print = 20

In [ ]:
print('Hello')  ##  20('hello')

In [ ]:
print('print')

In [ ]:
print(print)

In [ ]:
print(id(print))

In [ ]:
a = 20
print(id(20))

In [ ]:
print = 20
id(print)

In [ ]:
print('hello')

In [ ]:
print(dir(__builtins__))

In [ ]:
print(dir(str))

In [ ]:
a = 2345
b = 2345
c = 2345
print(a,b,c)

print(id(a), id(b), id(c))

In [ ]:
a = b = c= 2345

print(a,b,c)

print(id(a), id(b), id(c))

In [ ]:
v0,v1,v2 = 20,30,40  ##  positional mapping
print(v0,v1,v2)

In [ ]:
v0,v1,v2 = 20,30
print(v0,v1,v2)

In [ ]:
ms1 = input('Enter Marks: ')
print(ms1)
print(type(ms1))

print(ms1+5)

In [ ]:
ms1 = input('Enter Marks: ')
print(ms1)
print(type(ms1))

num = int(ms1)
print(num)
print(type(num))

print(num+5)

In [ ]:
int("898")

In [ ]:
int('hello')

In [ ]:
int("89.76")

In [ ]:
float("98.76")

In [ ]:
int(78.65)

In [ ]:
float(78)

In [ ]:
m1 = int(input('Enter Marks: '))
print(m1+5)

In [ ]:
int("two")

In [ ]:
m1 = input('Enter Marks: ')
print(m1+5)

In [ ]:
2**3

In [ ]:
2*3

In [ ]:
a = 5
not(a)

In [ ]:
bool(a)

In [ ]:
not(True)

In [ ]:
not(False)

In [ ]:
bool(10)

In [ ]:
bool(-10)

In [ ]:
bool(0)

In [ ]:
bool('True')

In [ ]:
bool('False')

In [ ]:
bool('')

In [ ]:
print(type(True))

In [ ]:
int(True)

In [ ]:
int(False)

In [ ]:
int(bool(1000))

In [ ]:
a = 17
b = 5

In [ ]:
a/b

In [ ]:
a//b  ##  evaluates the quotient

In [ ]:
a%b    # evaluates remainder.  modulus operator

In [ ]:
def calci1(p0,p1):
    s = p0 + p1
    
    return s

s1 = calci1(20,30)
print(s1)

In [ ]:

def calci2(p0,p1):
    s = p0 + p1
    #return None

s1 = calci2(20,30)
print(s1)
print(type(s1))

In [ ]:
def calci3(p0,p1):
    s = p0 + p1
    d = p0 - p1
    
    return s,d  ##  multiple returns are possible

s1,d1 = calci3(20,30)
print(s1,d1)

In [ ]:
help(calci3)

In [ ]:
def calci4(p0,p1):
    '''
      This function takes 2 numbers,
      it adds and finds diff
      it returns sum and diff
      .DocString
    '''
    s = p0 + p1
    d = p0 - p1
    '''
    will return
    now
    '''
    
    return s,d  ##  multiple returns are possible

In [ ]:
s1,d1 = calci4(20,30)
print(s1,d1)

In [ ]:
help(calci4)

In [ ]:
def tempCheck(temperature):
    if temperature > 99:
        return 'Hot'
    elif temperature < 60:
        return 'Cold'
    else:
        return 'Right'

feel = tempCheck(89);  print(feel)
feel = tempCheck(899); print(feel)
feel = tempCheck(9);   print(feel)

In [ ]:
curtemp = int(input('Get temperature: '))
feel = tempCheck(curtemp)
print(curtemp, feel)

In [ ]:
def isTrouble(curHour1, talking1):
    if talking1:
        if (curHour1 >= 20)  or (curHour1 <= 7):
            return True
        
    return False

def isTrouble(curHour1, talking1):
    if (talking1) and ((curHour1 >= 20)  or (curHour1 <= 7) ):
            return True
        
    return False
    
curHour = 22; talking = True;  
feel = isTrouble(curHour, talking)
print(curHour, talking, feel)

curHour = 2; talking = True;  
feel = isTrouble(curHour, talking)
print(curHour, talking, feel)

curHour = 12; talking = True;  
feel = isTrouble(curHour, talking)
print(curHour, talking, feel)

curHour = 22; talking = False;  
feel = isTrouble(curHour, talking)
print(curHour, talking, feel)

# Strings

In [ ]:
ms1 = 'PYTHON'

In [ ]:
print(ms1)
print(type(ms1))
print(len(ms1))

In [ ]:
ms1[0]

In [ ]:
ms1[0] = 'J'

In [ ]:
ms1 = 'python'
print(ms1)
print(id(ms1))
ms1 = ms1 + 'data'
print(ms1)
print(id(ms1))

In [ ]:
ms1 = 'pythondatascience'
print(ms1)

print(ms1[2:10:3])

In [ ]:
'hello' + 'world'

In [ ]:
'hello' * 3

In [ ]:
'hello' * 'world'

In [ ]:
'a' in 'aeiou'

In [ ]:
'z' in 'aeiou'

In [ ]:
print(dir(str))

In [ ]:
help(str.replace)

In [ ]:
ms1 = 'king RING sing'

ns1 = ms1.replace('ng', 'ms')

print(ns1)

In [ ]:
ms1 = 'king RING sing'

ns1 = ms1.replace('ng', 'ms')

print(ns1)

In [ ]:
ms1 = 'king RING sing'

ns1 = ms1.replace('ng', 'ms', 1)

print(ns1)

In [ ]:
help(str)

In [ ]:
help(ms1.__class__)

In [ ]:
'hello'.__class__

In [ ]:
a = 20
a.__class__

In [ ]:
ms1

In [ ]:
ns1 = ms1.replace('g','*',1).replace('G','@')
print(ns1)

In [ ]:
'find' in dir(str)

In [ ]:
help(str.find)

In [ ]:
ms1 = 'nationalstockexchange'

if ms1.find('d') == -1:
    print('Substring Not found')
    
print(ms1.find('d'))

In [ ]:
ms1 = 'nationalstockexchange'
ms1.find('a')

In [ ]:
ms1.find('a',10,20)

In [ ]:
ms1.find('ang',10,20)

In [ ]:
ms1.find('any',10,20)

In [ ]:
ms1[10:20]

In [ ]:
ms1.rfind('a')

In [ ]:
"2023".isdigit()

In [ ]:
"abcd123".isdigit()

In [ ]:
'abcd'.isalnum()

In [ ]:
ms1 = 'World Health Org'

r = ms1.split()
print(type(r))
print(r)

In [ ]:
ms1 = 'World Health Org'

r = ms1.split(None,1)
print(type(r))
print(r)

In [ ]:
ms1 = 'World Health Org'

r = ms1.split(maxsplit=1)
print(type(r))
print(r)

In [ ]:
ms1 = 'World_Health_Org'

r = ms1.split('_')
print(type(r))
print(r)

In [ ]:
ms1 = 'World_Health_Org'

r = ms1.split()
print(type(r))
print(r)

In [ ]:
list_of_strings = ['python', 'data', 'science']

joining_sep = '_'

ns1 = joining_sep.join(list_of_strings)
print(ns1)

In [ ]:
list_of_strings = ['python', 'data', 'science']

ns1 = '::'.join(list_of_strings)
print(ns1)

In [ ]:
list_of_strings = ['python', 'data', 'science']

ns1 = ''.join(list_of_strings)
print(ns1)

In [ ]:
list_of_strings = ['python', 'data', 'science']

ns1 = '_PES_'.join(list_of_strings)
print(ns1)

Average Math Marks of 50 students is 97.65 in this exam

In [ ]:
sub = 'Science'; num = 55; avg = 98.76

#unconstrained formatting
ns1 = 'Average {} marks of {} students is {} in exam'.format(sub,num,avg)
print(ns1)

In [ ]:
sub = 'Science'; num = 55; avg = 98.76

ns1 = 'Average {} marks of {} students is {} in exam'.format(sub,num)
print(ns1)

In [ ]:
sub = 'Science'; num = 55; avg = 98.76

# formatting
ns1 = 'Average {:s} marks of {:d} students is {:.1f} exam'.format(sub,num,avg)
print(ns1)

In [ ]:
sub = 'Science'; num = 55; avg = 98.76

# datatype constraint formatting
ns1 = 'Average {:s} marks of {:d} students is {:f} exam'.format(num,sub,avg)
print(ns1)

In [ ]:
help('FORMATTING')

In [ ]:
sub = 'Science'; num = 55; avg = 98.76

# replacement index and data type constraint formatting
ns1 = 'Average {1:s} marks of {0:d} students is {2:f} exam'.format(num,sub,avg)
print(ns1)

In [ ]:
sub = 'Science'; num = 55; avg = 98.76

# replacement index constraint formatting
ns1 = 'Average {1} marks of {0} students is {2} exam'.format(num,sub,avg)
print(ns1)

In [ ]:
sub = 'Science'; num = 55; avg = 98.76

# replacement index constraint formatting
ns1 = 'Average {1} marks of {1} students is {1} exam'.format(num,sub,avg)
print(ns1)

In [ ]:
ns1 = "s{:04d}e".format(23)
print(ns1)

In [ ]:
ns1 = "s{:s}e".format('PYTHON');  print(ns1)

In [ ]:
ns1 = "s{:10s}e".format('PYTHON');  print(ns1)

In [ ]:
ns1 = "s{:<10s}e".format('PYTHON');  print(ns1)

In [ ]:
ns1 = "s{:>10s}e".format('PYTHON');  print(ns1)

In [ ]:
ns1 = "s{:^10s}e".format('PYTHON');  print(ns1)

In [ ]:
ns1 = "s{:*^10s}e".format('PYTHOND');  print(ns1)

In [ ]:
ns1 = "s{:*^10s}e".format('PYTHONDATASCIENCE');  print(ns1)

In [ ]:
for i in range(0,10):
    print("{}".format('*' * i))

In [ ]:
for i in range(1,10,2):
    print("{:^10s}".format('*' * i))

In [ ]:
for i in range(1,10,2):
    print("{:<10s}".format('*' * i))

In [ ]:
for i in range(1,10,2):
    print("{:>10s}".format('*' * i))

In [ ]:
list(range(1,10,2))

In [ ]:
print('StockExchange')

In [ ]:
print('Stock\nExchange')

In [ ]:
print('Stock\tExchange')

In [ ]:
print('Stock\bExchange')

In [ ]:
print('StockExchange\rMumbai')

In [ ]:
print("c:\tiger")

In [ ]:
print("c:\\tiger")

In [ ]:
print("c:\wiger")

# List

In [ ]:
mlist1 = list('python')
print(mlist1)
print(type(mlist1))
print(len(mlist1))

In [ ]:
mlist1 = list('pythondatascience')
print(mlist1)

In [ ]:
print(mlist1[2:20:3])

In [ ]:
print(mlist1[::-1])

In [ ]:
[1,2,3] + [4,5,6]

In [ ]:
[1,2,3] * 4

In [ ]:
aclist = [123,456,789]
123 in aclist

1 2 3
4 5 6

In [ ]:
mylist23 = [
    [1,2,3],
    [4,5,6]
]

print(mylist23)

In [ ]:
print(dir(list))

In [ ]:
mylist1 = [1,2,3,4,5,6]
print(mylist1)

a = mylist1.append(222)
print(a)

print(mylist1)

In [ ]:
mylist1 = [1,2,3,4,5,6]
print(mylist1)

mylist1.append(222)
print(mylist1)

In [ ]:
mylist1 = [1,2,3,4,5,6]
print(mylist1)

mylist1.append( [111,222,333] )
print(mylist1)

In [ ]:
mylist1 = [1,2,3,4,5,6]
print(mylist1)

mylist1.extend( [111,222,333, 'Hello'] )
print(mylist1)

In [ ]:
mylist1 = [1,2,3,4,5,6]
print(mylist1)

mylist1.insert(0,222)
print(mylist1)

In [ ]:
mylist1 = [1,2,3,4,5,6]
print(mylist1)

mylist1.insert(-1,222)
print(mylist1)

In [ ]:
mylist1 = [1,2,3,4,5,6]
print(mylist1)

mylist2 = [111,222,333]
print(mylist2)

mylist1.append(mylist2)

print(mylist1)

In [ ]:
mylist1 = [1,2,3,4,5,6]
print(mylist1)

r = mylist1.pop()
print(r)

print(mylist1)

In [ ]:
mylist1 = [1,2,3,4,5,6]
print(mylist1)

r = mylist1.pop(1)
print(r)

print(mylist1)

In [ ]:
mylist1 = list('pythondatascience')
print(mylist1)

mylist1.remove('a')
print(mylist1)

In [ ]:
mylist1 = list('pythondatascience')
print(mylist1)

mylist1.remove('z')
print(mylist1)

In [ ]:
mylist1 = list('pythondatascience')
print(mylist1)

while 'a' in mylist1:
    mylist1.remove('a')
    
print(mylist1)

In [ ]:
mylist1 = list('pythondatascience')
print(mylist1)

print(mylist1.index('a'))
print(mylist1.count('a'))

In [ ]:
mylist1 = [44,33,11,66,55]
print(max(mylist1))
print(min(mylist1))

In [ ]:
mylist1 = list('python')
print(max(mylist1))
print(min(mylist1))

In [ ]:
ord('p')

In [ ]:
ord('a')

In [ ]:
chr(97)

In [ ]:
chr(0x20b9)

In [ ]:
mylist1 = list('python')
print(mylist1)
mylist1.clear()
print(mylist1)

In [ ]:
mylist1 = [11,22,33]
mylist2 = mylist1   ##  created a View to the same list
print(id(mylist1))
print(id(mylist2))
print(mylist1)
print(mylist2)

mylist2[0] = 'Hello'

print(mylist1)
print(mylist2)

In [ ]:
mylist1 == mylist2

In [ ]:
mylist1 is mylist2

In [ ]:
mylist1 = [11,22,33]
mylist2 = mylist1.copy()   ##  created a copy of the same list
print(id(mylist1))
print(id(mylist2))
print(mylist1)
print(mylist2)

mylist2[0] = 'Hello'

print(mylist1)
print(mylist2)

In [ ]:
mylist1 = [11,22,33]
mylist1.reverse()
print(mylist1)

# List Sort

In [ ]:
mylist1 = [22,11,77,66,55]
mylist1.sort()
print(mylist1)

In [ ]:
mylist1 = [22,11,77,66,55]
mylist1.sort(reverse=True)
print(mylist1)

In [ ]:
mylist1 = list('python')
print(mylist1)
mylist1.sort()
print(mylist1)

In [ ]:
mylist1 = [22,11,77,66,55,'hello',[666,777,888], 44]
mylist1.sort()
print(mylist1)

In [ ]:
23 > 'a'

In [ ]:
mylist1 = [22,11,77,66,55,'hello',[666,777,888], 44]
mylist1.sort()
print(mylist1)

In [ ]:
isinstance(20,int)

In [ ]:
isinstance('hello',int)

In [ ]:
isinstance(20.45,  (int,float)  )

In [ ]:
def keysort(obj):
    if isinstance(obj, (int,float) ):
        return obj
    
    if isinstance(obj, (str,list) ):
        return len(obj)
    
    return 1000

mylist1 = [2.45,11,77,66,55,'hello',[666,777,888], 44, (666,999)]
mylist1.sort(key=keysort)
print(mylist1)

# Tuple

In [ ]:
mt1 = (1,2,3)
print(type(mt1))
print(len(mt1))
print(mt1)

In [ ]:
mt1 = (111)
print(type(mt1))
print(mt1)

In [ ]:
mt1 = (111*4) + (2*3)
print(type(mt1))
print(mt1)

In [ ]:
mt1 = (111,)
print(type(mt1))
print(mt1)

In [ ]:
mt1 = tuple([111])
print(mt1)

In [ ]:
mt1 = tuple('python')
mt1

In [ ]:
print(dir(tuple))

In [ ]:
mt1 = tuple('pythondata')

In [ ]:
mt1.index('a')

In [ ]:
mt1.count('a')

In [ ]:
mt1 = (11,22,55,44)
templist = list(mt1)
templist.append(55)
mt1 = tuple(templist)
print(mt1)

# Dictionary

In [ ]:
md1 = {'Bank':'SBI', 'Branch':'MGROAD', 'City':'Delhi', 91:'India'}
print(type(md1))
print(len(md1))
print(md1)

In [ ]:
md1[0]

In [ ]:
md1[91]

In [ ]:
md1['Bank']

In [ ]:
md1['Bank'] = 'Axis'

In [ ]:
md1

In [ ]:
md1['State']

In [ ]:
md1['State'] = 'Delhi'

In [ ]:
md1

In [ ]:
print(md1)

In [ ]:
md1 = {'Bank':'SBI', 
       'Branch':'MGROAD', 
       'City':'Delhi', 
       'State':'Delhi',
      'Bank':'Axis'}

print(md1)

In [ ]:
del md1['City']

In [ ]:
md1

In [ ]:
hash('PYTHON')

In [ ]:
hash('python')

In [ ]:
hash("PYTHO")

In [ ]:
print(dir(dict))

In [ ]:
md1 = {'Bank':'SBI', 'Branch':'MGROAD', 'City':'Delhi'}
print(md1)

k = md1.keys()
print(k)  ##  list-like
print(type(k))

keylist = list(k)
print(keylist)

In [ ]:
k[0]

In [ ]:
md1 = {'Bank':'SBI', 'Branch':'MGROAD', 'City':'Delhi'}
print(md1)

v = md1.values()
print(v)  ##  list-like
print(type(v))

valuelist = list(v)
print(valuelist)

In [ ]:
md1 = {'Bank':'SBI', 'Branch':'MGROAD', 'City':'Delhi'}
print(md1)

kv = md1.items()
print(kv)  ##  list-like
print(type(kv))

keyvaluelist = list(kv)
print(keyvaluelist)

In [ ]:
md1 = {'Bank':'SBI', 'Branch':'MGROAD', 'City':'Delhi'}
print(md1)

r = md1.get('Branch')
print(r)

In [ ]:
md1 = {'Bank':'SBI', 'Branch':'MGROAD', 'City':'Delhi'}
print(md1)

r = md1.get('State')
print(r)

In [ ]:
md1 = {'Bank':'SBI', 'Branch':'MGROAD', 'City':'Delhi'}
print(md1)

r = md1.get('State', 'Unknown')
print(r)

In [ ]:
md1 = {'Bank':'SBI', 'Branch':'MGROAD', 'City':'Delhi'}
print(md1)

r = md1.get('Bank', 'Unknown')
print(r)

r = md1.get('State', 'Unknown')
print(r)

In [ ]:
md1 = {'Bank':'SBI', 'Branch':'MGROAD', 'City':'Delhi'}
print(md1)

r = md1.pop('Bank')
print(r)

print(md1)

In [ ]:
md1 = {'Bank':'SBI', 'Branch':'MGROAD', 'City':'Delhi'}
print(md1)

r = md1.pop('State')
print(r)

print(md1)

In [ ]:
md1 = {'Bank':'SBI', 'Branch':'MGROAD', 'City':'Delhi'}
print(md1)

r = md1.pop('State', 'Key Not Present')
print(r)

print(md1)

In [ ]:
md1 = {'Bank':'SBI', 'Branch':'MGROAD', 'City':'Delhi'}
print(md1)

r = md1.pop('Bank', 'Key Not Present')
print(r)

print(md1)

In [ ]:
md1 = {'Bank':'SBI', 'Branch':'MGROAD', 'City':'Delhi'}
print(md1)

md2 = {'Bank':'Axis', 'State':'Delhi'}
print(md2)

md1.update(md2)
print(md1)

In [ ]:
md1 = {'Bank':'SBI', 'Branch':'MGROAD', 'City':'Delhi'}
print(md1)

md1.update([('Bank','ICICI'),('State','Delhi')])
print(md1)

In [ ]:
md1 = {'Bank':'SBI', 'Branch':'MGROAD', 'City':'Delhi'}
print(md1)

r = md1.setdefault('Bank')
print(r)

print(md1)

In [ ]:
md1 = {'Bank':'SBI', 'Branch':'MGROAD', 'City':'Delhi'}
print(md1)

r = md1.setdefault('State')
print(r)

print(md1)

In [ ]:
md1 = {'Bank':'SBI', 'Branch':'MGROAD', 'City':'Delhi'}
print(md1)

r = md1.setdefault('State', 'Delhi')
print(r)

print(md1)

In [ ]:
md1 = {'Bank':'SBI', 'Branch':'MGROAD', 'City':'Delhi'}
print(md1)

r = md1.setdefault('Bank', 'Delhi')
print(r)

print(md1)