<table align="center" width=100%>
    <tr>
        <td width="15%">
            <img src="homework.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                    <b> Take-Home <br>(Session 6)
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

### Let's begin with some hands-on practice exercises

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 1. Plot a horizontal bar chart and vertical bar chart for the following data.
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

<table>
<tr>
    <th>Name</th>
    <td>Sheldon</td>
    <td>Amy</td>
    <td>Priya</td>
    <td>Raj</td>  
</tr>
<tr>
    <th>Maths</th>
    <td>72</td>
    <td>34</td>
    <td>54</td>
    <td>76</td>  
</tr>
<tr>
    <th>Geography</th>
    <td>98</td>
    <td>98</td>
    <td>78</td>
    <td>87</td>  
  </tr>
</table>

In [1]:
# type your code here

In [2]:
# horizontal barplot   

# type your code here

In [3]:
# vertical barplot   

# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 2. Following is data on 10 people, information on the number of dependents on each of them and their income is given. Draw a dual-axis plot when on the axis.
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

<table>
<tr>
    <th>Person</th>
    <td>No. of Dependents</td>
    <td>Income</td>
</tr>
<tr>
    <th>1</th>
    <td>1</td>
    <td>60000</td>  
</tr>
<tr>
    <th>2</th>
    <td>2</td>
    <td>52000</td>
</tr>
<tr>
    <th>3</th>
    <td>0</td>
    <td>50000</td>  
</tr>
<tr>
    <th>4</th>
    <td>3</td>
    <td>65000</td>
</tr>
<tr>
    <th>5</th>
    <td>0</td>
    <td>45500</td>  
</tr>
<tr>
    <th>6</th>
    <td>1</td>
    <td>43050</td>
</tr>
<tr>
    <th>7</th>
    <td>0</td>
    <td>54300</td>  
</tr> 
<tr>
    <th>8</th>
    <td>0</td>
    <td>38000</td>
</tr>
<tr>
    <th>9</th>
    <td>2</td>
    <td>20000</td>
</tr>
<tr>
    <th>10</th>
    <td>1</td>
    <td>47500</td>  
    </tr>
</table>

In [4]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 3. Use the following data to plot a nested pie chart.
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

<table>
  <tr>
  <th>Store</th>
  <th>Location</th>
  <th>Sale</th>
  </tr>
  <tr>
  <td>AllenSolly</td>
  <td>Delhi</td>
  <td>42500</td>
  </tr>
  <tr>
  <td>AllenSolly</td>
  <td>Banglore</td>
  <td>44500</td>
  </tr>
  <tr>
  <td>AllenSolly</td>
  <td>Chennai</td>
  <td>48300</td>
  </tr>
  <tr>
  <td>Marks&Spencers</td>
  <td>Delhi</td>
  <td>52400</td>
  </tr>
  <tr>
  <td>Marks&Spencers</td>
  <td>Banglore</td>
  <td>61800</td>
  </tr>
    <tr>
  <td>Marks&Spencers</td>
  <td>Chennai</td>
  <td>57400</td>
  </tr>
  <tr>
  <td>Zara</td>
  <td>Delhi</td>
  <td>72400</td>
  </tr>
  <tr>
  <td>Zara</td>
  <td>Banglore</td>
  <td>91800</td>
  </tr>
    <tr>
  <td>Zara</td>
  <td>Chennai</td>
  <td>24000</td>
  </tr>
  <tr>    
</table>

In [5]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 4. Write a program to plot a bar plot of seven students representing their marks in Mathematics using plotly. 
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [6]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 5. Import the flights data set and plot a line plot for the variable 'passengers'.
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [7]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 6. Import the iris data set and plot a heatmap of the correlation between its numeric variables.
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [8]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 7. Using the iris data set, plot boxplot of its numeric features.
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [9]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 8. Import the built-in 'diamonds' data set from seaborn. For the variable 'cut', plot a count plot.
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [10]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 9. Write a program to a plot scatter plot with standalone HTML.
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [11]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 10. Jake's monthly expenditure is given below. Draw a pie chart such that one of its sectors is pulled out.
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

<table>
    <tr>
        <th> Item  </th>
        <th> Expenditure </th>
    </tr>
    <tr>
        <th> Food </th>
        <th> 20</th>
    </tr>
    <tr>
        <th> Clothing </th>
        <th> 10</th>
    </tr>
    <tr>
        <th> Rent </th>
        <th> 30 </th>
    </tr>
    <tr>
        <th> Education </th>
        <th> 30</th>
    </tr>
    <tr>
        <th> Unforseen Events </th>
        <th> 5</th>
    </tr>
    <tr>
        <th> Medicine </th>
        <th>5</th>
    </tr>
</table>

In [12]:
# type your code here