<table align="center" width=100%>
    <tr>
        <td width="15%">
            <img src="homework.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                    <b> Take-Home <br>(Session 1)
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

### Let's begin with some hands-on practice exercises

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. A text is given below. Write a program to find the character which is at the index position obtained by adding the indices of the character 'e' of the word 'Hello' and 'e' of the word 'Welcome'.</b>
                    <br><br>
                </font>
            </div>
        </td>
    </tr>
</table>

<b>txt = "Hello, welcome to my world." </b>

In [1]:
# Type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Write a program to check whether string contains all alphabets (take input from user)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [2]:
# Type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. Write a program to count number of vowels in a string (take input from user) </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [3]:
# Type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. Write a program to check whether given year is leap year or not (take input from user) </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [4]:
# Type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Write a pseudocode to check whether an entered letter is a vowel or not</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# Type your pseudocode here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6. Write a program to print Armstrong number in the interval from 100 to 2000</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Hint: Armstrong number = The sum of cubes of each digit is equal to the number itself.**

In [5]:
# Type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. Write a program to remove punctuations from a string (take a string containing punctuations as an input from user)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [6]:
# Type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. Write a program to swap 2 numbers without using temporary variable (take two numbers from user) </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# Type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Write a program to print product of below two variables</b>
                    <br><br>
                    <b> a=10 ; b="15"  </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# Type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 10. Write a pseudocode to check whether input is even number or odd number (take input from user).</b><br>
                </font>
            </div>
        </td>
    </tr>
</table>

 Type your pseudocode here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>11. Write a pseudocode to print whether a number is divisible by 9 and a multiple of 6 (take input from the user).</b><br>
                </font>
            </div>
        </td>
    </tr>
</table>

 Type your pseudocode here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>12. Write a pseudocode to take 5 values from user and print their average using while loop (take input from user)</b><br>
                </font>
            </div>
        </td>
    </tr>
</table>

 Type your pseudocode here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>13. Write a program to fetch the words from the given list which have their first character in uppercase.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<b>namesList = ['santa Maria', 'Hello World','Merry christmas', 'tHank You']</b><br>
<b>Output: ['Maria', 'Hello', 'World', 'Merry', 'You']</b>

In [1]:
# Type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>14. A list of dates (dd-mm-yyyy) in the form of string is given below. Create a new list that stores years i.e. the 'yyyy' part from the dates in the given list.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<b>datesList = ['17-12-1997','22-04-2011','01-05-1993','19-06-2020']</b><br>
<b>Output: ['1997','2011','1993','2020']</b>

In [2]:
# Type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>15. A list containing age and name of five candidates is given below. Convert this list into a dictionary such that the name is the key and the age before their name should be the value in the dictionary.</b>
                    <br>
                </font>
            </div>
        </td>
    </tr>
</table>

<b>lst = [26,'John',34,'Mary',13,'Steven',24,'Ronald',65,'Donald']</b><br>
<b>Output: {'John':26, 'Mary':34, 'Steven':13, 'Ronald':24, 'Donald':65}</b>

In [3]:
# Type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>16. Consider the string (quote) given below. Print a string having unique words from the quote (Remove the duplicates from a string and return a new string without duplicates).<br><br> Note: Do not use any string inbuilt function. Also do not use set()</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<b>quote = "God made man man made money money made man mad"</b><br>
<b>Output: God made man money mad</b>

In [4]:
# Type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>17. Sort all the elements of the list according to the first letter, irrespective of their cases (uppercase or lowercase).</b><br><br>
                    <b>Condition : Do not use any inbuilt sorting function.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<b>languages = ['python', 'R', 'Java', 'scala', 'C', 'C++']</b><br>
<b>Output: ['C', 'C++', 'Java', 'python', 'R', 'scala']</b>

In [5]:
# Type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 18. Create dictionary with 4 keys and their respective values and swap the keys to values and values to keys.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<b>d = {'Hello':22,'World':14, 'Welcome':10, 'Back':3}</b><br>
<b>Output: {22: 'Hello', 14: 'World', 10: 'Welcome', 3: 'Back'}</b>

In [6]:
# Type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 19. Given below are the list of positive and negative words. Also a list of comments is provided. Segregate the comments based on positive and negative sentiments.</b><br>
                </font>
            </div>
        </td>
    </tr>
</table>

positive = ['good','awesome', 'best', 'nice']<br><br>
negative = ['worst','awful']<br> <br>
comments = ['He is a good boy',<br>
   &emsp;&emsp;&emsp;'Food is the worst here',<br>
   &emsp;&emsp;&emsp;'He is an awesome player',<br>
   &emsp;&emsp;&emsp;'She is the best',<br>
   &emsp;&emsp;&emsp;'This pizza tastes awful',<br>
   &emsp;&emsp;&emsp;'These burger are really nice']<br>

In [8]:
# Type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 20. A dictionary of power levels of superheroes is given. Also, the categories of these superheroes are provided according to the range of their power. Replace the power levels in the dictionary with the corresponding category.</b><br>
                </font>
            </div>
        </td>
    </tr>
</table>

power_level = {'Drax':30,
               'Spiderman':50,
               'Thanos':58000,
               'Captain America':80,
               'Loki':3200,
               'Thor':44000,
               'Groot': 120,
               'Ironman':5000,
               'Dr. Strange':8000}

Categories are
God_Like : (35000,70000)
Super_Strong: (3000,10000)
Strong: (100,200)
Peak_Human: (10,90)

Output: {'Drax': 'Peak_Human', 'Spiderman': 'Peak_Human', 'Thanos': 'God_Like', 'Captain America': 'Peak_Human', 'Loki': 'Super_strong', 'Thor': 'God_Like', 'Groot': 'Strong', 'Ironman': 'Super_strong', 'Dr. Strange': 'Super_strong'}

In [9]:
# Type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 21. A list of Power Levels of superheroes is given. Also, the Category is provided according to the range for information. Group the heroes(in list) as per their corresponding category according to the power levels.</b><br>
                    <br>
                    <b> Sample Output: God_like = ['Thor', 'Thanos']</b>
                </font>
            </div>
        </td>
    </tr>
</table>

power_level = {'Drax':30,
               'Spiderman':50,
               'Thanos':58000,
               'Captain America':80,
               'Loki':3200,
               'Thor':44000,
               'Groot': 120,
               'Ironman':5000,
               'Dr. Strange':8000}

Categories are 
God_Like: (35000,70000)
Super_Strong: (3000,10000)
Strong: (100,200)
Peak_Human: (10,90)

Output:
God_Like:  ['Thanos', 'Thor']
Super_Strong:  ['Loki', 'Ironman', 'Dr. Strange']
Strong:  ['Groot']
Peak_Human:  ['Drax', 'Spiderman', 'Captain America']

In [10]:
# Type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 22. Find the fruits that are <i>sour</i> in taste from the tuple given below.</b>   
                </font>
            </div>
        </td>
    </tr>
</table>

fruits = (('Lemon','sour'),
          ('DragonFruit', 'Sweet'),
          ('Grapes','soUr'),
          ('Kiwi','Sour'),
          ('Apples','sweet'),
          ('Orange','sour'),
          ('Blueberries','sweet'),
          ('Limes','Sour')
          )
          
Output: 
Sour Fruits:  ['Lemon', 'Grapes', 'Kiwi', 'Orange', 'Limes']

In [11]:
# Type your code here