<table align="center" width=100%>
    <tr>
        <td width="10%">
            <img src="in_class.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                    <b> Inclass-Lab  <br>(Session 1 & 2)
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

## Table of Content

1. **[Using print()](#print)**
2. **[Data types](#types)**
3. **[Arithmetic Operations](#arithmetic)**
4. **[Boolean Operations](#boolean)**
5. **[Concatenation](#concatenation)**
6. **[Pseudo Codes](#pseudo)**
7. **[String](#string)**
8. **[List](#list)**
9. **[Tuple](#tuple)**
10. **[Set](#set)**
11. **[Dictionary](#dict)**
12. **[Conditional Statements](#cond)**
13. **[Python Flow Control](#flow_control)**
14. **[List Comprehension](#lc)**
15. **[User-Define Function](#User_Define)**
16. **[Lambda Functions](#Lambda_Functions)**
    - 16.1 **[Map Function](#Map_Function)**
    - 16.2 **[Filter Function](#Filter_Function)**
    - 16.3 **[Reduce Function](#Reduce_Function)**

### Let's begin with some hands-on practice exercises

<a id="print"> </a>
## 1. Using print()

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. To display a statement. For example, "Hello, How are you?" </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [2]:
# type your code here
print("Hello, How are you?")

Hello, How are you?

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Write the alphabets 'A', 'B', 'C' on new lines using a single print function. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [3]:
# type your code here
print("A\nB\nC")

A
B
C

<a id="types"> </a>
## 2. Data types

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. Create a string, a numeric and boolean variables by assigning variable names. Further, check their datatype. For numeric variable check for whole numbers and numbers with decimal point.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Declare a string variable and check its data type.**

In [5]:
# type your code here
lv_str = 'This is a string'
type(lv_str)

<class 'str'>

**Declare a numeric variable and check its data type.** <br>
i. An interger variable.

In [7]:
i = 10
type(i)

int

ii. A fractional variable

In [8]:
f = 3.14
type(f)

float

**Declare a boolean variable and check its data type.**

In [9]:
isAvailable = True
type(isAvailable)

bool

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. Create a numberic variable and convert it to a string.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [10]:
# type your code here
i = 10
s = str(10)
print(i, s)
print(type(s))

10 10
<class 'str'>

<a id="arithmetic"></a>
## 3. Arithmetic Operations

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Evaluate 145 into 354 minus 1345 divided by 45 plus (462 plus 23) divided by 3. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [14]:
# type your code here
print( 145 * 354 - 1345 / 45 + (462 + 23) / 3 )

51461.777777777774

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6. Evaluate  and print the results of the following <br>
                        <ol type = '1'> 
                            <li> 1353 plus 234 </li> 
                            <li> 2355 minus 346 </li>
                            <li> 234 times 457 </li>
                            <li> 25 divided by 6 </li>
                            <li> Obtain remainder of  25 divided by 6 </li>
                            <li> 33 raised to 4 </li> 
                            <li> 45 divided by 6  (floor division)
                            <li> 2 raised to 10</li></ol>
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [12]:
# type your code here
print( 1353 + 234 )
print( 2355 - 346 )
print( 234 * 457 )
print( 25 / 6 )
print( 25 % 6 )
print( 33 ** 4 )
print( 45 // 6 )
print( 2 ** 10 )

1587
2009
106938
4.166666666666667
1
1185921
7
1024

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. Calculate BMI of a person (take input for height and weight from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [17]:
# type your code here
w = float(input("Enter Weight in KG : "))
h = float(input("Enter height in meter : "))

print(round(w/(h**2),2))

Enter Weight in KG : 68
Enter height in meter : 1.65
24.98

<a id="boolean"></a>
## 4. Boolean Operations

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. Check whether the expression (54+34)* 45 is equal to the expression (0.9*2432)/0.9 </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [18]:
# type your code here
if  ( 54 + 34 ) * 45 == ( 0.9 * 2432 ) / 0.9:
    print("Both are equal")
else:
    print("Both expressions results in different values")

Both expressions results in different values

In [19]:
( 54 + 34 ) * 45

3960

In [20]:
( 0.9 * 2432 ) / 0.9

2432.0

<a id="concatenation"></a>
## 5. Concatenation

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Create two strings and concatenate them using '+' operator. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [21]:
# type your code here
str1 = "This is first string"
str2 = "This is second string"
final_str = str1 + str2
print(final_str)

This is first stringThis is second string

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. Concatenate the variables 'num = 34 and 'string ='How old are you?' using '+' operator. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [33]:
# type your code here
num = 34
str1 = "How old are you?"
final_str = str(num) + str1
print(final_str)

34How old are you?

<a id="pseudo"> </a>
## 6. Pseudo Codes

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>11. Write a pseudo code to print table of 5 using 'for' loop.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [34]:
# type your code here
for i in range(1,11):
    print(i*5)

5
10
15
20
25
30
35
40
45
50

<a id="string"></a>
## 7. String Operations

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>12. Given the string 'Today is a sunny day.' 
                        <ol > <li>  Write a code to get 'Today'  and 'sunny'. </li>
                             <li>  Obtain the last two letters. </li>
                             <li>  Write the statement backwards.</li>
                        </ol> </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [52]:
# type your code here
str1 = "Today is a sunny day"
sub1 = str1[:5]
sub2 = str1[11:16]
print(sub1)

print(sub2)

sub_last = str1[-2:]
print(sub_last)


print(str1[::-1])

Today
sunny
ay
yad ynnus a si yadoT

<a id="list"> </a>
## 8. List

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>13. Write a program to perform following list operations on the list given below:<br><br>
                        a. Check the length of mix_list_1<br>
                        b. Check the membership of '24' in mix_list_1<br> 
                        c. Concatenate the mix_list_1 and mix_list_2<br>
                        d. Repeat the mix_list_2 three times </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Lists to perform operations:**

mix_list_1 = ['Learn', 24, 'Blue', False, -8]

mix_list_2 = [4, 7, 'Summer']

**a. Check the length of mix_list_1**

In [10]:
# type your code here
mix_list_1 = ['Learn', 24, 'Blue', False, -8]

mix_list_2 = [4, 7, 'Summer']
print(len(mix_list_1))

5

**b. Check the membership of '24' in mix_list_1**

In [11]:
# type your code here
'yes' if 24 in mix_list_1 else 'No'

'yes'

**c. Concatenate the mix_list_1 and mix_list_2**

In [56]:
# type your code here
mix_list = mix_list_1 + mix_list_2
print(mix_list)

['Learn', 24, 'Blue', False, -8, 4, 7, 'Summer']

**d. Repeat the mix_list_2 three times**

In [57]:
# type your code here
mix_list_prod = mix_list_2 * 3
print(mix_list_prod)

[4, 7, 'Summer', 4, 7, 'Summer', 4, 7, 'Summer']

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>14. Write the program to multiply the two lists</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Lists to perform multiplication:**

num_list_1 = [1, 2, 3, 4]

num_list_2 = [0, 5, 2, 1]

In [2]:
# type your code here
num_list_1 = [1, 2, 3, 4]

num_list_2 = [0, 5, 2, 1]

num_list_prod = [ num_list_1[i] * num_list_2[i] for i in range(0, len(num_list_1)) ]

print(num_list_prod)

[0, 10, 6, 4]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>15. Write a code to retrieve elements from a list<br><br>
                       a. First element<br>
                       b. Second last element<br>
                       c. First three elements<br>
                       d. Slice the list from 1st index till the last index with an increment of an index by 2
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the below list**

mix_list = ['Python', 1, 2, 3, 'Data', True]

**a. First element**

In [4]:
# type your code here
mix_list = ['Python', 1, 2, 3, 'Data', True]
mix_list[0]

'Python'

**b. Second last element**

In [7]:
# type your code here
mix_list[-2]

'Data'

**c. First three elements**

In [6]:
# type your code here
mix_list[:3]

['Python', 1, 2]

**d. Slice the list from 1st index till the last index with an increment of an index by 2**

In [8]:
# type your code here
mix_list[1:]

[1, 2, 3, 'Data', True]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>16. Write a program to perform following built-in list operations:<br><br>
                        a. Min(list)<br>
                        b. Max(list)<br>
                        c. Sort the elements (use sort() and sorted() function)<br>
                        d. Create a copy of a list<br>
                        e. Remove element '5' from the list</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the below list**

num_list = [4, 5, 7, -2, 0, 1]

In [12]:
num_list = [4, 5, 7, -2, 0, 1]

**a. Min(list)**

In [13]:
# type your code here
min(num_list)

-2

**b. Max(list)**

In [14]:
# type your code here
max(num_list)

7

**c. Sort the elements (use sort() and sorted() function)**

In [16]:
# type your code here
num_list.sort()
num_list

[-2, 0, 1, 4, 5, 7]

**d. Create a copy of a list**

In [20]:
# type your code here
list1 = num_list.copy()
print(id(num_list))
print(id(list1))

1593841581696
1593841621696

**e. Remove element '5' from the list**

In [24]:
# type your code here
#list1.remove(5)
list1

[-2, 0, 1, 4, 7]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>17. Manipulating a list:<br><br>
                        a. Add a new element 'Data' in the given list<br>
                        b. Add elements 'Excel' and 'Data' in the given list<br>
                        c. Replace an element 'C' with 'C++' in the given list<br>
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

#### Use the below list

languages_list = ['R', 'Python', 'C', 'Java']

**a. Add a new element 'Data' in the given list**

In [25]:
# type your code here
languages_list = ['R', 'Python', 'C', 'Java']
languages_list.append('Data')
languages_list

['R', 'Python', 'C', 'Java', 'Data']

**b. Add elements 'Excel' and 'Data' in the given list**

In [29]:
# type your code here
#languages_list.append('Excel')
#languages_list.append('Data')
languages_list

['R', 'Python', 'C', 'Java', 'Data', 'Excel', 'Data']

**c. Replace an element 'C' with 'C++' in the given list**

In [32]:
# type your code here
languages_list[ languages_list.index('C') ] = 'C++'
languages_list

['R', 'Python', 'C++', 'Java', 'Data', 'Excel', 'Data']

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>18. How many times 'Summer' is occuring in a given list?
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

#### Use the below list

seasons_list = ['Summer', 'Winter', 'Spring', 'Winter', 'Spring' ,'Summer', 'Spring', 'Summer', 'Winter', 'Summer', 'Spring']

In [33]:
# type your code here
seasons_list = ['Summer', 'Winter', 'Spring', 'Winter', 'Spring' ,'Summer', 'Spring', 'Summer', 'Winter', 'Summer', 'Spring']
seasons_list.count('Summer')

4

<a id="tuple"> </a>
## 9. Tuple

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>19. Write a code to perform operations on tuple:<br><br>
                        a. Check the length of num_tuple<br>
                        b. Concatenate the num_tuple and mix_tuple<br>
                        c. Repeat the mix_tuple two times
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Tuples to perform operations:**

num_tuple = (4, 4, 8)

mix_tuple = 'John', 5, -2

**a. Check the length of num_tuple**

In [35]:
# type your code here
num_tuple = (4, 4, 8)

mix_tuple = 'John', 5, -2

len(num_tuple)

3

**b. Concatenate the num_tuple and mix_tuple**

In [36]:
# type your code here
num_tuple + mix_tuple

(4, 4, 8, 'John', 5, -2)

**c. Repeat the mix_tuple two times**

In [37]:
# type your code here
mix_tuple * 2

('John', 5, -2, 'John', 5, -2)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>20. Add a new element '4' to the given tuple</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the tuple below:**

mix_tuple = (['a', 1, True], 2, 'Science', -5)

In [42]:
# type your code here
mix_tuple = (['a', 1, True], 2, 'Science', -5)
tuple_4 = 4,
mix_tuple = mix_tuple + tuple_4
mix_tuple

(['a', 1, True], 2, 'Science', -5, 4)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>21. Replace the elements in the given tuple: <br><br>
                        a. Replace '2' with '3'<br>
                        b. Replace 'True' in first element with 'False'
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the tuple below:**

mix_tuple = (['a', 1, True], 2, 'Science', -5)

**a. Replace '2' with '3'**

In [44]:
# type your code here
mix_tuple = (['a', 1, True], 2, 'Science', -5)
list1 = list(mix_tuple)
list1[ list1.index(2) ] = 3
mix_tuple = tuple(list1)
mix_tuple

(['a', 1, True], 3, 'Science', -5)

**b. Replace 'True' in first element of the tuple with 'False'**

In [67]:
# type your code here
mix_tuple = (['a', 1, True], 2, 'Science', -5)
list1 = list(mix_tuple)
for k, v in enumerate(list1[0]):
    if v == True:
        list1[0][k] = False
list1

[['a', False, False], 2, 'Science', -5]

<a id="set"> </a>
## 10. Set

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>22. Write the program to perform following manipulations:<br><br>
                        a. Add '7' to the given set<br>
                        b. Remove '3' from a given set<br>
                        c. Clear the set
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the below set for manipulation**

num_set = {1, 2, 3, 4, 5, 6}

**a. Add '7' to the given set**

In [73]:
# type your code here
num_set = {1, 2, 3, 4, 5, 6}
#num_set.update({7})
num_set.add(7)
num_set

{1, 2, 3, 4, 5, 6, 7}

**b. Remove '3' from a given set**

In [74]:
# type your code here
num_set.remove(3)
num_set

{1, 2, 4, 5, 6, 7}

**c. Clear the set**

In [75]:
# type your code here
num_set.clear()
num_set

set()

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>23. Create two sets of words from the given sentences and perform the following operations:<br><br>
                        a. Find the count of unique words in each of the sentence<br> 
                        b. Find the common words in both the sentences<br>
                        c. Find the unique words in both the sentences
                       </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the sentences given below:**
    
sentence_1 = 'We shall analyse the data using python' 

sentence_2 = 'Python for data science'

**Create set of words**

In [1]:
# type your code here
sentence_1 = 'We shall analyse the data using python'

sentence_2 = 'Python for data science'

set1 = set( sentence_1 )
set2 = set( sentence_2 )

In [3]:
help(set)

Help on class set in module builtins:

class set(object)
 |  set() -> new empty set object
 |  set(iterable) -> new set object
 |
 |  Build an unordered collection of unique elements.
 |
 |  Methods defined here:
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __contains__(...)
 |      x.__contains__(y) <==> y in x.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iand__(self, value, /)
 |      Return self&=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __isub__(self, value, /)
 |      Return self-=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __ixor__(self, value, /)
 |      Return self^=value.
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(...)
 |      S.__sizeof__() -> size of S in memory, in bytes
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  add(...)
 |      Add an element to a set.
 |
 |      This has no effect if the element is already present.
 |
 |  clear(...)
 |      Remove all elements from this set.
 |
 |  copy(...)
 |      Return a shallow copy of a set.
 |
 |  difference(...)
 |      Return the difference of two or more sets as a new set.
 |
 |      (i.e. all elements that are in this set but not the others.)
 |
 |  difference_update(...)
 |      Remove all elements of another set from this set.
 |
 |  discard(...)
 |      Remove an element from a set if it is a member.
 |
 |      Unlike set.remove(), the discard() method does not raise
 |      an exception when an element is missing from the set.
 |
 |  intersection(...)
 |      Return the intersection of two sets as a new set.
 |
 |      (i.e. all elements that are in both sets.)
 |
 |  intersection_update(...)
 |      Update a set with the intersection of itself and another.
 |
 |  isdisjoint(...)
 |      Return True if two sets have a null intersection.
 |
 |  issubset(...)
 |      Report whether another set contains this set.
 |
 |  issuperset(...)
 |      Report whether this set contains another set.
 |
 |  pop(...)
 |      Remove and return an arbitrary set element.
 |      Raises KeyError if the set is empty.
 |
 |  remove(...)
 |      Remove an element from a set; it must be a member.
 |
 |      If the element is not a member, raise a KeyError.
 |
 |  symmetric_difference(...)
 |      Return the symmetric difference of two sets as a new set.
 |
 |      (i.e. all elements that are in exactly one of the sets.)
 |
 |  symmetric_difference_update(...)
 |      Update a set with the symmetric difference of itself and another.
 |
 |  union(...)
 |      Return the union of sets as a new set.
 |
 |      (i.e. all elements that are in either set.)
 |
 |  update(...)
 |      Update a set with the union of itself and others.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [11]:
#set1.remove(' ')
#set2.remove(' ')

**a. Find the number of unique words in the sentences**

In [12]:
# type your code here
print('Length of Set 1 : ', len(set1))
print('Length of Set 2 : ', len(set2))

Length of Set 1 :  15
Length of Set 2 :  14

**b. Find the common words in both the sentences**

In [13]:
# type your code here
set1.intersection(set2)

{'a', 'd', 'e', 'h', 'i', 'n', 'o', 's', 't', 'y'}

**c. Find the unique words in both the sentences**

In [14]:
# type your code here
set1.difference(set2)

{'W', 'g', 'l', 'p', 'u'}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>24. Write a program to perform following set operations:<br><br>
                        a. Union<br> 
                        b. Intersection<br>
                        c. Set of all the elements of set A that are not in set B<br>
                        d. Set of all the elements of set B that are not in set A<br>
                        e. Symmetric difference
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the below set:**

A = {1, 4, 5, 2, 6, 3, 40, 7, 87, 4, 71}

B = {3, 42, 51, 6, 7, 8, 54, 5}

In [15]:
A = {1, 4, 5, 2, 6, 3, 40, 7, 87, 4, 71}

B = {3, 42, 51, 6, 7, 8, 54, 5}

**a. Union**

In [16]:
# type your code here
print(A.union(B))

{1, 2, 3, 4, 5, 6, 7, 40, 71, 8, 42, 51, 54, 87}

**b. Intersection**

In [17]:
# type your code here
print(A.intersection(B))

{3, 5, 6, 7}

**c. Set of all the elements of set A that are not in set B**

In [18]:
# type your code here
A.difference(B)

{1, 2, 4, 40, 71, 87}

**d. Set of all the elements of set B that are not in set A**

In [19]:
# type your code here
B.difference(A)

{8, 42, 51, 54}

**e. Symmetric difference**

In [20]:
# type your code here
A.symmetric_difference(B)

{1, 2, 4, 8, 40, 42, 51, 54, 71, 87}

<a id="dict"> </a>
## 11. Dictionary

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>25. Provide solution for the following:<br><br> 
                        a. Write a program to create a dictionary using given keys and values<br> 
                                   Use the keys and values to create a dictionary<br> 
                                   key = ['Weight','BMI','Age','Profession']<br> 
                                   value = [67, 25, 27, 'CA']<br> 
                        b.Use the dictionary created before and Write a code to add a key ('Height':154) to the dictionary<br> 
                        c.Write a program to retrieve the keys/values of dictionary<br> 
                        d.Write a program to get the value for 'Age' from the dictionary
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**a. Write a program to create a dictionary using given keys and values**

**Use the keys and values to create a dictionary**

key = ['Weight','BMI','Age','Profession']

value = [67, 25, 27, 'CA']

In [21]:
key = ['Weight','BMI','Age','Profession']

value = [67, 25, 27, 'CA']

In [22]:
# type your code here
z1 = zip(key, value)
dict1 = dict(z1)
dict1

{'Weight': 67, 'BMI': 25, 'Age': 27, 'Profession': 'CA'}

**b. Use the dictionary created before and Write a code to add a key ('Height':154) to the dictionary**

In [24]:
# type your code here
dict1.setdefault('Height', 154)

154

In [25]:
dict1

{'Weight': 67, 'BMI': 25, 'Age': 27, 'Profession': 'CA', 'Height': 154}

**c. Write a program to retrieve the keys/values of dictionary**

In [ ]:
# type your code here

**d. Write a program to get the value for 'Age' from the dictionary**

In [27]:
# type your code here
print(dict1.get('Age'))
print(dict1['Age'])

27
27

<a id="cond"> </a>
## 12. Conditional Statements

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>26. Write a program to check whether a given number is multiple of 7 (use if statement)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [28]:
# type your code here
i = int(input('Enter a Number : '))
if i % 7 == 0:
    print('Number is multiple of 7')
else:
    print('Number is not a multiple of 7')

Enter a Number : 21
Number is multiple of 7

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>27. Write a program to check whether a number is positive, negative or zero (use if-elif) </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [31]:
# type your code here
i = int(input('Enter a Number : '))
if i > 0 == 0:
    print('Number is positive')
elif i == 0:
    print('It is zero')
else:
    print('Number is Negative')

Enter a Number : 45
Number is positive

<a id= "flow_control"> </a>
## 13. Python Flow Control

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>28. Write a program for generating a fibonacci series starting with 0 and 1 for the next 10 values using a while loop. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [2]:
# type your code here  
def gen_fibonacci(n):
    if n < 2:
        return n
    else:
        return gen_fibonacci(n-1) + gen_fibonacci(n-2)
    
n = int(input("Generate Fibonacci series for lenght of ?:"))
for i in range(n):
    print(gen_fibonacci(i), end = ", ")

Generate Fibonacci series for lenght of ?:10
0, 1, 1, 2, 3, 5, 8, 13, 21, 34,

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>29. Write a program to check whether a number is greater than the other using if statement (take the input from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [5]:
# type your code here   
num1 = int(input("Enter First Number : "))
num2 = int(input("Enter Second Number : "))

if num1 > num2:
    print("First Number is greater")
elif num2 > num1:
    print("Second number is greater")
else:
    print("Both Numbers are equal")

Enter First Number : 4
Enter Second Number : 4
Both Numbers are equal

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>30. Write a program to check whether a number is prime or not (take the input from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [30]:
# type your code here
import math as m;
num1 = int(input("Enter a positive Number : "))

num_sqrt = int(m.sqrt(num1))

prime = False
if num1 > 1:
    prime = True
for i in range(2,num_sqrt + 1):
    if num1 % i == 0:
        prime = False
        break

if prime:
    print("It's a prime Number")
else:
    print("This is not a prime Number")

Enter a positive Number : 7
It's a prime Number

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>31. Write a program to check whether two numbers are amicable or not (take the input from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [34]:
# type your code here
num1 = int(input("Enter First Number : "))
num2 = int(input("Enter Second Number : "))

amicable = False
sum1 = 0
for i in range(1,int(num1/2)+1):
    if num1 % i == 0:
        sum1 += i

if sum1 == num2:
    sum2 = 0
    for i in range(1,int(num2/2)+1):
        if num2 % i == 0:
            sum2 += i
    if sum2 == num1:
        print("Numbers are Amicable")
        amicable = True

if not amicable:
    print("Numbers are not Amicable")

Enter First Number : 234
Enter Second Number : 345
Numbers are not Amicable

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>32. Reverse string using a for loop (take the input from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [59]:
# type your code here
string = input("Enter a string : ")
a = ""
for i in range(-1,len(string)*-1-1,-1):
    print(i)
    a = a + string[i]
print(a)

Enter a string : this is a string
-1
-2
-3
-4
-5
-6
-7
-8
-9
-10
-11
-12
-13
-14
-15
-16
gnirts a si siht

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>33. Write a code to find the simple interest (take the input from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [61]:
# type your code here
principle = float(input("Enter the principle amount : "))
rate      = float(input("Enter the rate of interest in % : "))
year      = float(input("Enter the number of years : "))

simple_interest = ( principle * rate * year ) / 100

print("Simple interest is : ", simple_interest)

Enter the principle amount : 50000
Enter the rate of interest in % : 10
Enter the number of years : 3
Simple interest is :  15000.0

<a id= "lc"> </a>
## 14. List Comprehension

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>34. Use list comprehension to find the used vowels in a given sentence and/or word (take the input from user). </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [13]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>35. Create a dictionary and access it values using a condition on its key. The data is given below. Let the condidtion on the key is that it should be a even number.</b>
                </font>
            </div>
       </td>
    </tr>
</table>

<table>
<tr>
    <th>Key</th>
    <td>1</td>
    <td>2</td>
    <td>3</td>
    <td>4</td> 
    <td>5</td> 
</tr>
<tr>
    <th>Name</th>
    <td>Aman</td>
    <td>Mohit</td>
    <td>Guari</td>
    <td>Imran</td>
    <td>Roma</td
     </tr>
<tr>
    <th>Marks</th>
    <td>24</td>
    <td>25</td>
    <td>26</td>
    <td>24</td>
    <td>27</td>
   </tr>
</table>

In [14]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>36. Use list comprehension to create a dictionary such that its keys are numbers from 1 to 10 and values are the corresponding to that key are its cube.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [17]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>37. Use list comprehension to extract numbers from a string </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [18]:
# type your code here

<a id='User_Define'></a>
## 15. User-Define Function:

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>38. Define the python function to swap first and last value of the given list<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
my_list = [15, 78, 10, 45, 89]

In [ ]:
# Write your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>39. Define the python function to calculate the factorial of the number<b>  
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# Write your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>40. Write the python program to get the unique values from the given list<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
my_list = [1,2,3,3,11,34,3,3,4,5]

In [ ]:
# Write your code here

<a id='Lambda_Functions'></a>
## 16. Lambda Functions

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>41. Find the minimum of the two numbers(34 and 78) using the lambda function<b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# Write your code here

<a id='Map_Function'></a>
### 16.1 Map Function

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>42. Find the remainder of all the numbers present in a list after dividing by 5
<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
numbers = [ 74, 85, 14, 23 ]

In [ ]:
# Write your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>43. Concatenate elements from the list1 with the corresponding element of list2<b>
                </font>
            </div>
        </td>
    </tr>
</table>

** Use the list given below:**<br>
list1 = ['I', 'felt', 'happy', 'because', 'I', 'saw', 'the', 'others', 'were', 'happy']<br>
list2 = [11,22,33,44,55,66,77,88,99]

In [ ]:
# Write your code here

<a id='Filter_Function'></a>
### 16.2 Filter Function

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>44. Find the common elements from the given array using filter method<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the array given below:**<br>
arr1 = ['t','u','t','o','r','i','a','l']<br>
arr2 = ['p','o','i','n','t']

In [ ]:
# Write your code here

<a id='Reduce_Function'></a>
### 16.3 Reduce Function

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>45. Determine the maximum of a given list using reduce function<b> 
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
my_list = [47,11,42,102,13]

In [ ]:
# Write your code here