In [1]:
array = [[5] * 2 for _ in range(3)]

In [2]:
array

[[5, 5], [5, 5], [5, 5]]

In [4]:
constant = int(input())

# Write your code below

array = [[constant] * 2 for _ in range(3)]
print(array)

5
[[5, 5], [5, 5], [5, 5]]

In [10]:
import sys

# write your answer here
list1 = list(map(int,input().strip().split(',')))[:] = [i for i in list1 if i != 20]

5, 10, 15, 20, 25, 30, 20, 40, 20, 50

In [11]:
list1

[5, 10, 15, 25, 30, 40, 50]

In [12]:
words = eval(input())

list1 = []
for l1 in words:
    for word in l1:
        if len(word) < 5:
            list1.append(word)
            
            
print(list1)

[['Hello', 'World'], ['Python', 'is', 'fun'], ['I', 'love', 'coding']]
['is', 'fun', 'I', 'love']

In [13]:
my_string

NameError: name 'my_string' is not defined

In [14]:
my_string = "Hello World"

In [15]:
my_string

'Hello World'

In [16]:
my_string[::-1]

'dlroW olleH'

In [22]:
text = input()
text = text.lower()

list1 = text.split()
dict1 = {}
for w in list1:
    if w in dict1.keys():
        dict1[w] = dict1[w] + 1
    else:
        dict1.update({w:1})
       

print(dict1)

This is a sample satement and this is a repeated statement
{'this': 2, 'is': 2, 'a': 2, 'sample': 1, 'satement': 1, 'and': 1, 'repeated': 1, 'statement': 1}

In [3]:
import pandas as pd

In [2]:
mylist5 = [100, 95, 'Mum']

In [3]:
mylist6 = [200 ,195, 'Kol']

In [29]:
pd1 = pd.DataFrame(mylist5)

In [5]:
pd2 = pd.DataFrame(mylist6)

In [6]:
pd1

     0
0  100
1   95
2  Mum

In [7]:
s1 = pd.Series(mylist5)

In [8]:
s1

0    100
1     95
2    Mum
dtype: object

In [4]:
import numpy as np

In [11]:
a = np.array(([50,200,5,10],[10,35,50,15],[25,100,145,120],[105,25,65,80]))

b = a[:2,2:]

print(b)

[[ 5 10]
 [50 15]]

In [12]:
pd1.isnull()

       0
0  False
1  False
2  False

In [13]:
pd1.isnull().sum()

0    0
dtype: int64

In [14]:
pd1.isnull(axis=0).sum()

TypeError: DataFrame.isnull() got an unexpected keyword argument 'axis'

In [15]:
pd1.isnull().sum(axis=0)

0    0
dtype: int64

In [16]:
pd1.isnull().sum(axis=1)

0    0
1    0
2    0
dtype: int64

In [17]:
l = []
np.size(l)

0

In [18]:
Series_1 = pd.Series([10,20,30,40,50],index=[‘one’,’four’,’two’,’three’,’five’])

Series_1[‘two’]

SyntaxError: invalid character '‘' (U+2018) (1576016982.py, line 1)

In [19]:
Series_1 = pd.Series([10,20,30,40,50],index=[‘one’,’four’,’two’,’three’,’five’])

SyntaxError: invalid character '‘' (U+2018) (2038464725.py, line 1)

In [20]:
Series_1 = pd.Series([10,20,30,40,50],index=['one','four','two','three','five'])

In [21]:
Series_1['two']

30

In [23]:
a = np.array(([50,200,5,10],[10,35,50,15],[25,100,145,120],[105,25,65,80],[100,200,350,400]))

b = a[:,(1,2)]

print(b)

[[200   5]
 [ 35  50]
 [100 145]
 [ 25  65]
 [200 350]]

In [5]:
Data = pd.DataFrame({'price':[95, 25, 85, 41, 78],

                     'ticker':['AXP', 'CSCO', 'DIS', 'MSFT', 'WMT'],

                     'company':['American Express', 'Cisco', 'Walt Disney','Microsoft', 'Walmart']})

Data

   price ticker           company
0     95    AXP  American Express
1     25   CSCO             Cisco
2     85    DIS       Walt Disney
3     41   MSFT         Microsoft
4     78    WMT           Walmart

In [25]:
print('On')

On

In [26]:
import seaborn as sns

In [1]:
m = [[1, 2], [3, 4], [5, 6]]

In [2]:
len(m)

3

In [6]:
mt = [[m[i][j] for i in range(len(m))] for j in range(len(m[0]))]

mt|

In [7]:
mt

[[1, 3, 5], [2, 4, 6]]

In [8]:
m[0,1]

TypeError: list indices must be integers or slices, not tuple

In [9]:
m[0][1]

2

In [10]:
m

[[1, 2], [3, 4], [5, 6]]

In [11]:
mt[0][1]

3

In [12]:
ai = [[i for i in range(len(m))] for j in range(len(m[0]))]

In [13]:
aj = mt = [[j for i in range(len(m))] for j in range(len(m[0]))]

In [14]:
ai

[[0, 1, 2], [0, 1, 2]]

In [15]:
aj

[[0, 0, 0], [1, 1, 1]]

In [16]:
len(m)

3

In [17]:
len(m[0])

2

In [38]:
import math

In [39]:
func = {
    "Mul2"    : lambda x : x * 2,
    "Square"  : lambda x : x ** 2,
    "Cube"    : lambda x : x ** 3,
    "SQRT"    : lambda x : math.sqrt(x)
}

In [22]:
func

{'Mul2': 'lambda x : x * 2', 'Square': '', 'Cube': '', 'SQRT': ''}

In [30]:
func["Mul2"](4)

8

In [33]:
func["Square"](4)

16

In [34]:
func["Cube"](4)

64

In [40]:
func["SQRT"](4)

2.0

In [42]:
from itertools import accumulate

In [43]:
li = [1, 2, 3, 4, 5]

In [44]:
accumulate(li)

In [54]:
avg = lambda i, index : i / ( index + 1)
l1 = [ avg(i, index) for index, i in enumerate(accumulate(li))]
print(l1)

[1.0, 1.5, 2.0, 2.5, 3.0]

In [55]:
"map".upper()

'MAP'

In [64]:
a = lambda a : a.upper()

In [65]:
Names = ['Ravi', 'Manyata', 'Maanvi']
NAMES = list(map(a, Names))
print(NAMES)

['RAVI', 'MANYATA', 'MAANVI']

In [68]:
def xo(s):
    a = {'x': 0, 'o': 0}
    for i in s:
        if i == 'X' or i == 'x':
            a['x'] = a['x'] + 1
        elif i == 'O' or i == 'o':
            a['o'] = a['o'] + 1
    if a['x'] == a['o']:
        return True
    else:
        return False

In [156]:
def majorityElement(arr):
  a = {}
  for i in arr:
    if i in a.keys():
      a[i] = a[i] + 1
    else:
      a.update({i: 1})
  
#  return max(((value, index) for index, value in a.items()))[1]
  r_max = max(((value, index) for index, value in a.items()))[1]
  return r_max if r_max > math.floor(len(arr) / 2) else None

In [159]:
t = majorityElement([1, 4, 4, 4, 3, 4, 5, 4])
t

In [1]:
list("ABCD")

['A', 'B', 'C', 'D']

In [6]:
import seaborn as sns

In [7]:
a = np.array(["foo", "foo", "foo", "foo", 
                 "bar", "bar", "bar", "bar", 
                 "foo", "foo", "foo"], 
                dtype=object) 
  
b = np.array(["one", "one", "one", "two", 
                 "one", "one", "one", "two", 
                 "two", "two", "one"], 
                dtype=object) 
  
c = np.array(["dull", "dull", "shiny", 
                 "dull", "dull", "shiny", 
                 "shiny", "dull", "shiny", 
                 "shiny", "shiny"], 
                dtype=object) 
  
# form the cross tab 
pd.crosstab(a, [b, c], rownames=['a'], colnames=['b', 'c'])

b    one        two
c   dull shiny dull shiny
a
bar    1     2    1     0
foo    2     2    1     2