<table align="left" width=100%>
    <tr>
        <td width="10%">
            <img src="homework.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                  <b> TakeHome <br> (Session 4) </b>
                </font>
            </div>
        </td>
    </tr>
</table>

### Let's begin with some hands-on practice exercises

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 1. Create a dictionary named 'europe_dict' which has names of countries in europe, their capital and their population. 
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

europe_dict = {
       "Country":["Spain","France","Germany","Norway"],
       "Capital":["Madrid","Paris","Berlin","Oslo"],
       "Population":[46.77,66.03,80.62,5.084]
}

In [0]:
# type your data here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 2. Use the data from question 1 and add a new column 'FamousFor'. The column should indicate what each country is famous for.
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [0]:
# type your data here

**Note:** Assigning a column that doesnâ€™t exist will create a new column.

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 3. Use the data created in question 1, to do the following:
                          <ol type = '1'>
                              <li>  Access column 'Captial' by specifying the column number. </li>
                              <li>  Access column 'Population' by specifying the column name.
                              <li>  Access a country information </li>
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [0]:
# 1. Access column 'Captial' by specifying the column number.

# type your data here

In [0]:
# 2. Access column 'Population' by specifying the column name.

# type your data here

In [0]:
# 3. Access a country information
# Lets say we want access information for France

# type your data here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 4. Read a csv file "example.csv", print it and also check its dimensions
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [0]:
# import the data set
# type your data here

In [0]:
# check dimension/shape of the dataframe

# type your data here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 5. Create a new column BMI, calculate the BMI of persons based on their weight and height.
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [0]:
# type your data here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 6. Create a pandas series having values 4, 7, -5, 3, NAN and their index as d, b, a, c, e
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [0]:
# type your data here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 7. Using the series in question 6, find:
                        <ol type = '1'>
                            <li> Find the minimum of all values </li>
                            <li> Find the maximum of all value </li>
                        </ol>
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [0]:
# the minimum of all values

# type your data here

In [0]:
# the maximum of all value

# type your data here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 8. Using the series in question 6, sort:
                         <ol type = '1'>
                             <li> the values in ascending order </li>
                             <li> the values in decending order  </li>
                        </ol>
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [0]:
# sorting the values in ascending order

# type your data here

In [0]:
# sorting the values in decending order

# type your data here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 9. Import dataset 'flights' from library seaborn. Print the first 10 rows and last 20 rows of the data set.
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [0]:
# load the flights data set as flight

# type your data here

In [0]:
# print first 10 rows

# type your data here

In [0]:
# print last 20 rows

# type your data here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 10. Import dataset 'iris' from library seaborn. Check for datatypes of all variable.
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [0]:
# load the iris data set as iris

# type your data here

In [0]:
# check the data types of each variable

# type your data here