# 06/Jan/2024

# Python for Data Science.

1.  Write  a Code to print hello world

In [ ]:
print('Hello World')

In [ ]:
print('HW')  #  Line Comment
#  entire line commented  print('HW')
print('NSE # Mumbai')

exchange = "BSE";  print(exchange)

usd = "Dollar: $";  rupee = '\u20B9'

print(usd, rupee)

In [ ]:
print("a \# b")

In [ ]:
print("a\nb")

In [ ]:
print(usd)

In [ ]:
print(rupee)

In [ ]:
print(usd, rupee)

In [ ]:
exchange = 'NSE'
print(exchange)

In [ ]:
exchange = 'nse is 
in mumbai. bse
also in mumbai'

In [ ]:
exchange = '''  nse is
in mumbai. bse is also
in Mumbai
'''

In [ ]:
print(exchange)

In [ ]:
e1 = 'NSE'
'''
NSE is 
in Mumbai.  Block Comments
'''

print(e1)

In [ ]:
e1 = 20
E1 = 30

print(e1, E1)

In [ ]:
91e1 = 'NSE'

In [ ]:
stock$ex = 'BSE'

In [ ]:
if = 20

In [ ]:
import keyword
print(keyword.kwlist)

In [ ]:
keyword.kwlist

Indentation

In [ ]:
sensor = 0


if sensor == 0:
    print('Sensor is OFF')
    print('Switch Motor OFF')
else:
    print('Sensor is ON')
    print('Switch Motor ON')
    
print('Done')

In [ ]:
sensor = 0


if sensor == 0:
    print('Sensor is OFF')
    print('Switch Motor OFF')
else:
        print('Sensor is ON')
         print('Switch Motor ON')
    
print('Done')

In [ ]:
abcd = 2000
print(abcd)
print(type(abcd))
print(id(abcd))

In [ ]:
abcd = 'hello'
print(abcd)
print(type(abcd))
print(id(abcd))

In [ ]:
a = 2000
b = 2000

print(a,b)

print(id(a))
print(id(b))

In [ ]:
a = 200
b = 200

print(a,b)

print(id(a))
print(id(b))

In [ ]:
##   integers -5 to 256 are prefixed at  boot_time

In [ ]:
a = 200
b = 200

print(a,b)

print(id(a))
print(id(b))

b = b + 500
print(b)
print(id(b))

In [ ]:
##  in python, there is no contract bn the variable and the memory location.

In [ ]:
print('hello')

In [ ]:
print = 20

In [ ]:
print('Hello')  ##  20('hello')

In [ ]:
print('print')

In [ ]:
print(print)

In [ ]:
print(id(print))

In [ ]:
a = 20
print(id(20))

In [ ]:
print = 20
id(print)

In [ ]:
print('hello')

In [ ]:
print(dir(__builtins__))

In [ ]:
print(dir(str))

In [ ]:
a = 2345
b = 2345
c = 2345
print(a,b,c)

print(id(a), id(b), id(c))

In [ ]:
a = b = c= 2345

print(a,b,c)

print(id(a), id(b), id(c))

In [ ]:
v0,v1,v2 = 20,30,40  ##  positional mapping
print(v0,v1,v2)

In [ ]:
v0,v1,v2 = 20,30
print(v0,v1,v2)

In [ ]:
ms1 = input('Enter Marks: ')
print(ms1)
print(type(ms1))

print(ms1+5)

In [ ]:
ms1 = input('Enter Marks: ')
print(ms1)
print(type(ms1))

num = int(ms1)
print(num)
print(type(num))

print(num+5)

In [ ]:
int("898")

In [ ]:
int('hello')

In [ ]:
int("89.76")

In [ ]:
float("98.76")

In [ ]:
int(78.65)

In [ ]:
float(78)

In [ ]:
m1 = int(input('Enter Marks: '))
print(m1+5)

In [ ]:
int("two")

In [ ]:
m1 = input('Enter Marks: ')
print(m1+5)

In [ ]:
2**3

In [ ]:
2*3

In [ ]:
a = 5
not(a)

In [ ]:
bool(a)

In [ ]:
not(True)

In [ ]:
not(False)

In [ ]:
bool(10)

In [ ]:
bool(-10)

In [ ]:
bool(0)

In [ ]:
bool('True')

In [ ]:
bool('False')

In [ ]:
bool('')

In [ ]:
print(type(True))

In [ ]:
int(True)

In [ ]:
int(False)

In [ ]:
int(bool(1000))

In [ ]:
a = 17
b = 5

In [ ]:
a/b

In [ ]:
a//b  ##  evaluates the quotient

In [ ]:
a%b    # evaluates remainder.  modulus operator

In [ ]:
def calci1(p0,p1):
    s = p0 + p1
    
    return s

s1 = calci1(20,30)
print(s1)

In [ ]:

def calci2(p0,p1):
    s = p0 + p1
    #return None

s1 = calci2(20,30)
print(s1)
print(type(s1))

In [ ]:
def calci3(p0,p1):
    s = p0 + p1
    d = p0 - p1
    
    return s,d  ##  multiple returns are possible

s1,d1 = calci3(20,30)
print(s1,d1)

In [ ]:
help(calci3)

In [ ]:
def calci4(p0,p1):
    '''
      This function takes 2 numbers,
      it adds and finds diff
      it returns sum and diff
      .DocString
    '''
    s = p0 + p1
    d = p0 - p1
    '''
    will return
    now
    '''
    
    return s,d  ##  multiple returns are possible

In [ ]:
s1,d1 = calci4(20,30)
print(s1,d1)

In [ ]:
help(calci4)

In [ ]:
def tempCheck(temperature):
    if temperature > 99:
        return 'Hot'
    elif temperature < 60:
        return 'Cold'
    else:
        return 'Right'

feel = tempCheck(89);  print(feel)
feel = tempCheck(899); print(feel)
feel = tempCheck(9);   print(feel)

In [ ]:
curtemp = int(input('Get temperature: '))
feel = tempCheck(curtemp)
print(curtemp, feel)

In [ ]:
def isTrouble(curHour1, talking1):
    if talking1:
        if (curHour1 >= 20)  or (curHour1 <= 7):
            return True
        
    return False

def isTrouble(curHour1, talking1):
    if (talking1) and ((curHour1 >= 20)  or (curHour1 <= 7) ):
            return True
        
    return False
    
curHour = 22; talking = True;  
feel = isTrouble(curHour, talking)
print(curHour, talking, feel)

curHour = 2; talking = True;  
feel = isTrouble(curHour, talking)
print(curHour, talking, feel)

curHour = 12; talking = True;  
feel = isTrouble(curHour, talking)
print(curHour, talking, feel)

curHour = 22; talking = False;  
feel = isTrouble(curHour, talking)
print(curHour, talking, feel)

# Strings

In [ ]:
ms1 = 'PYTHON'

In [ ]:
print(ms1)
print(type(ms1))
print(len(ms1))

In [ ]:
ms1[0]

In [ ]:
ms1[0] = 'J'

In [ ]:
ms1 = 'python'
print(ms1)
print(id(ms1))
ms1 = ms1 + 'data'
print(ms1)
print(id(ms1))

In [ ]:
ms1 = 'pythondatascience'
print(ms1)

print(ms1[2:10:3])

In [ ]:
'hello' + 'world'

In [ ]:
'hello' * 3

In [ ]:
'hello' * 'world'

In [ ]:
'a' in 'aeiou'

In [ ]:
'z' in 'aeiou'

In [ ]:
print(dir(str))

In [ ]:
help(str.replace)

In [ ]:
ms1 = 'king RING sing'

ns1 = ms1.replace('ng', 'ms')

print(ns1)

In [ ]:
ms1 = 'king RING sing'

ns1 = ms1.replace('ng', 'ms')

print(ns1)

In [ ]:
ms1 = 'king RING sing'

ns1 = ms1.replace('ng', 'ms', 1)

print(ns1)

In [ ]:
help(str)

In [ ]:
help(ms1.__class__)

In [ ]:
'hello'.__class__

In [ ]:
a = 20
a.__class__

In [ ]:
ms1

In [ ]:
ns1 = ms1.replace('g','*',1).replace('G','@')
print(ns1)

In [ ]:
'find' in dir(str)

In [ ]:
help(str.find)

In [ ]:
ms1 = 'nationalstockexchange'

if ms1.find('d') == -1:
    print('Substring Not found')
    
print(ms1.find('d'))

In [ ]:
ms1 = 'nationalstockexchange'
ms1.find('a')

In [ ]:
ms1.find('a',10,20)

In [ ]:
ms1.find('ang',10,20)

In [ ]:
ms1.find('any',10,20)

In [ ]:
ms1[10:20]

In [ ]:
ms1.rfind('a')

In [ ]:
"2023".isdigit()

In [ ]:
"abcd123".isdigit()

In [ ]:
'abcd'.isalnum()

In [ ]:
ms1 = 'World Health Org'

r = ms1.split()
print(type(r))
print(r)

In [ ]:
ms1 = 'World Health Org'

r = ms1.split(None,1)
print(type(r))
print(r)

In [ ]:
ms1 = 'World Health Org'

r = ms1.split(maxsplit=1)
print(type(r))
print(r)

In [ ]:
ms1 = 'World_Health_Org'

r = ms1.split('_')
print(type(r))
print(r)

In [ ]:
ms1 = 'World_Health_Org'

r = ms1.split()
print(type(r))
print(r)

In [ ]:
list_of_strings = ['python', 'data', 'science']

joining_sep = '_'

ns1 = joining_sep.join(list_of_strings)
print(ns1)

In [ ]:
list_of_strings = ['python', 'data', 'science']

ns1 = '::'.join(list_of_strings)
print(ns1)

In [ ]:
list_of_strings = ['python', 'data', 'science']

ns1 = ''.join(list_of_strings)
print(ns1)

In [ ]:
list_of_strings = ['python', 'data', 'science']

ns1 = '_PES_'.join(list_of_strings)
print(ns1)

Average Math Marks of 50 students is 97.65 in this exam

In [ ]:
sub = 'Science'; num = 55; avg = 98.76

#unconstrained formatting
ns1 = 'Average {} marks of {} students is {} in exam'.format(sub,num,avg)
print(ns1)

In [ ]:
sub = 'Science'; num = 55; avg = 98.76

ns1 = 'Average {} marks of {} students is {} in exam'.format(sub,num)
print(ns1)

In [ ]:
sub = 'Science'; num = 55; avg = 98.76

# formatting
ns1 = 'Average {:s} marks of {:d} students is {:.1f} exam'.format(sub,num,avg)
print(ns1)

In [ ]:
sub = 'Science'; num = 55; avg = 98.76

# datatype constraint formatting
ns1 = 'Average {:s} marks of {:d} students is {:f} exam'.format(num,sub,avg)
print(ns1)

In [ ]:
help('FORMATTING')

In [ ]:
sub = 'Science'; num = 55; avg = 98.76

# replacement index and data type constraint formatting
ns1 = 'Average {1:s} marks of {0:d} students is {2:f} exam'.format(num,sub,avg)
print(ns1)

In [ ]:
sub = 'Science'; num = 55; avg = 98.76

# replacement index constraint formatting
ns1 = 'Average {1} marks of {0} students is {2} exam'.format(num,sub,avg)
print(ns1)

In [ ]:
sub = 'Science'; num = 55; avg = 98.76

# replacement index constraint formatting
ns1 = 'Average {1} marks of {1} students is {1} exam'.format(num,sub,avg)
print(ns1)

In [ ]:
ns1 = "s{:04d}e".format(23)
print(ns1)

In [ ]:
ns1 = "s{:s}e".format('PYTHON');  print(ns1)

In [ ]:
ns1 = "s{:10s}e".format('PYTHON');  print(ns1)

In [ ]:
ns1 = "s{:<10s}e".format('PYTHON');  print(ns1)

In [ ]:
ns1 = "s{:>10s}e".format('PYTHON');  print(ns1)

In [ ]:
ns1 = "s{:^10s}e".format('PYTHON');  print(ns1)

In [ ]:
ns1 = "s{:*^10s}e".format('PYTHOND');  print(ns1)

In [ ]:
ns1 = "s{:*^10s}e".format('PYTHONDATASCIENCE');  print(ns1)

In [ ]:
for i in range(0,10):
    print("{}".format('*' * i))

In [ ]:
for i in range(1,10,2):
    print("{:^10s}".format('*' * i))

In [ ]:
for i in range(1,10,2):
    print("{:<10s}".format('*' * i))

In [ ]:
for i in range(1,10,2):
    print("{:>10s}".format('*' * i))

In [ ]:
list(range(1,10,2))

In [ ]:
print('StockExchange')

In [ ]:
print('Stock\nExchange')

In [ ]:
print('Stock\tExchange')

In [ ]:
print('Stock\bExchange')

In [ ]:
print('StockExchange\rMumbai')

In [ ]:
print("c:\tiger")

In [ ]:
print("c:\\tiger")

In [ ]:
print("c:\wiger")

# List

In [ ]:
mlist1 = list('python')
print(mlist1)
print(type(mlist1))
print(len(mlist1))

In [ ]:
mlist1 = list('pythondatascience')
print(mlist1)

In [ ]:
print(mlist1[2:20:3])

In [ ]:
print(mlist1[::-1])

In [ ]:
[1,2,3] + [4,5,6]

In [ ]:
[1,2,3] * 4

In [ ]:
aclist = [123,456,789]
123 in aclist

1 2 3
4 5 6

In [ ]:
mylist23 = [
    [1,2,3],
    [4,5,6]
]

print(mylist23)

In [ ]:
print(dir(list))

In [ ]:
mylist1 = [1,2,3,4,5,6]
print(mylist1)

a = mylist1.append(222)
print(a)

print(mylist1)

In [ ]:
mylist1 = [1,2,3,4,5,6]
print(mylist1)

mylist1.append(222)
print(mylist1)

In [ ]:
mylist1 = [1,2,3,4,5,6]
print(mylist1)

mylist1.append( [111,222,333] )
print(mylist1)

In [ ]:
mylist1 = [1,2,3,4,5,6]
print(mylist1)

mylist1.extend( [111,222,333, 'Hello'] )
print(mylist1)

In [ ]:
mylist1 = [1,2,3,4,5,6]
print(mylist1)

mylist1.insert(0,222)
print(mylist1)

In [ ]:
mylist1 = [1,2,3,4,5,6]
print(mylist1)

mylist1.insert(-1,222)
print(mylist1)

In [ ]:
mylist1 = [1,2,3,4,5,6]
print(mylist1)

mylist2 = [111,222,333]
print(mylist2)

mylist1.append(mylist2)

print(mylist1)

In [ ]:
mylist1 = [1,2,3,4,5,6]
print(mylist1)

r = mylist1.pop()
print(r)

print(mylist1)

In [ ]:
mylist1 = [1,2,3,4,5,6]
print(mylist1)

r = mylist1.pop(1)
print(r)

print(mylist1)

In [ ]:
mylist1 = list('pythondatascience')
print(mylist1)

mylist1.remove('a')
print(mylist1)

In [ ]:
mylist1 = list('pythondatascience')
print(mylist1)

mylist1.remove('z')
print(mylist1)

In [ ]:
mylist1 = list('pythondatascience')
print(mylist1)

while 'a' in mylist1:
    mylist1.remove('a')
    
print(mylist1)

In [ ]:
mylist1 = list('pythondatascience')
print(mylist1)

print(mylist1.index('a'))
print(mylist1.count('a'))

In [ ]:
mylist1 = [44,33,11,66,55]
print(max(mylist1))
print(min(mylist1))

In [ ]:
mylist1 = list('python')
print(max(mylist1))
print(min(mylist1))

In [ ]:
ord('p')

In [ ]:
ord('a')

In [ ]:
chr(97)

In [ ]:
chr(0x20b9)

In [ ]:
mylist1 = list('python')
print(mylist1)
mylist1.clear()
print(mylist1)

In [ ]:
mylist1 = [11,22,33]
mylist2 = mylist1   ##  created a View to the same list
print(id(mylist1))
print(id(mylist2))
print(mylist1)
print(mylist2)

mylist2[0] = 'Hello'

print(mylist1)
print(mylist2)

In [ ]:
mylist1 == mylist2

In [ ]:
mylist1 is mylist2

In [ ]:
mylist1 = [11,22,33]
mylist2 = mylist1.copy()   ##  created a copy of the same list
print(id(mylist1))
print(id(mylist2))
print(mylist1)
print(mylist2)

mylist2[0] = 'Hello'

print(mylist1)
print(mylist2)

In [ ]:
mylist1 = [11,22,33]
mylist1.reverse()
print(mylist1)

# List Sort

In [ ]:
mylist1 = [22,11,77,66,55]
mylist1.sort()
print(mylist1)

In [ ]:
mylist1 = [22,11,77,66,55]
mylist1.sort(reverse=True)
print(mylist1)

In [ ]:
mylist1 = list('python')
print(mylist1)
mylist1.sort()
print(mylist1)

In [ ]:
mylist1 = [22,11,77,66,55,'hello',[666,777,888], 44]
mylist1.sort()
print(mylist1)

In [ ]:
23 > 'a'

In [ ]:
mylist1 = [22,11,77,66,55,'hello',[666,777,888], 44]
mylist1.sort()
print(mylist1)

In [ ]:
isinstance(20,int)

In [ ]:
isinstance('hello',int)

In [ ]:
isinstance(20.45,  (int,float)  )

In [ ]:
def keysort(obj):
    if isinstance(obj, (int,float) ):
        return obj
    
    if isinstance(obj, (str,list) ):
        return len(obj)
    
    return 1000

mylist1 = [2.45,11,77,66,55,'hello',[666,777,888], 44, (666,999)]
mylist1.sort(key=keysort)
print(mylist1)

# Tuple

In [ ]:
mt1 = (1,2,3)
print(type(mt1))
print(len(mt1))
print(mt1)

In [ ]:
mt1 = (111)
print(type(mt1))
print(mt1)

In [ ]:
mt1 = (111*4) + (2*3)
print(type(mt1))
print(mt1)

In [ ]:
mt1 = (111,)
print(type(mt1))
print(mt1)

In [ ]:
mt1 = tuple([111])
print(mt1)

In [ ]:
mt1 = tuple('python')
mt1

In [ ]:
print(dir(tuple))

In [ ]:
mt1 = tuple('pythondata')

In [ ]:
mt1.index('a')

In [ ]:
mt1.count('a')

In [ ]:
mt1 = (11,22,55,44)
templist = list(mt1)
templist.append(55)
mt1 = tuple(templist)
print(mt1)

# Dictionary

In [ ]:
md1 = {'Bank':'SBI', 'Branch':'MGROAD', 'City':'Delhi', 91:'India'}
print(type(md1))
print(len(md1))
print(md1)

In [ ]:
md1[0]

In [ ]:
md1[91]

In [ ]:
md1['Bank']

In [ ]:
md1['Bank'] = 'Axis'

In [ ]:
md1

In [ ]:
md1['State']

In [ ]:
md1['State'] = 'Delhi'

In [ ]:
md1

In [ ]:
print(md1)

In [ ]:
md1 = {'Bank':'SBI', 
       'Branch':'MGROAD', 
       'City':'Delhi', 
       'State':'Delhi',
      'Bank':'Axis'}

print(md1)

In [ ]:
del md1['City']

In [ ]:
md1

In [ ]:
hash('PYTHON')

In [ ]:
hash('python')

In [ ]:
hash("PYTHO")

In [ ]:
print(dir(dict))

In [ ]:
md1 = {'Bank':'SBI', 'Branch':'MGROAD', 'City':'Delhi'}
print(md1)

k = md1.keys()
print(k)  ##  list-like
print(type(k))

keylist = list(k)
print(keylist)

In [ ]:
k[0]

In [ ]:
md1 = {'Bank':'SBI', 'Branch':'MGROAD', 'City':'Delhi'}
print(md1)

v = md1.values()
print(v)  ##  list-like
print(type(v))

valuelist = list(v)
print(valuelist)

In [ ]:
md1 = {'Bank':'SBI', 'Branch':'MGROAD', 'City':'Delhi'}
print(md1)

kv = md1.items()
print(kv)  ##  list-like
print(type(kv))

keyvaluelist = list(kv)
print(keyvaluelist)

In [ ]:
md1 = {'Bank':'SBI', 'Branch':'MGROAD', 'City':'Delhi'}
print(md1)

r = md1.get('Branch')
print(r)

In [ ]:
md1 = {'Bank':'SBI', 'Branch':'MGROAD', 'City':'Delhi'}
print(md1)

r = md1.get('State')
print(r)

In [ ]:
md1 = {'Bank':'SBI', 'Branch':'MGROAD', 'City':'Delhi'}
print(md1)

r = md1.get('State', 'Unknown')
print(r)

In [ ]:
md1 = {'Bank':'SBI', 'Branch':'MGROAD', 'City':'Delhi'}
print(md1)

r = md1.get('Bank', 'Unknown')
print(r)

r = md1.get('State', 'Unknown')
print(r)

In [ ]:
md1 = {'Bank':'SBI', 'Branch':'MGROAD', 'City':'Delhi'}
print(md1)

r = md1.pop('Bank')
print(r)

print(md1)

In [ ]:
md1 = {'Bank':'SBI', 'Branch':'MGROAD', 'City':'Delhi'}
print(md1)

r = md1.pop('State')
print(r)

print(md1)

In [ ]:
md1 = {'Bank':'SBI', 'Branch':'MGROAD', 'City':'Delhi'}
print(md1)

r = md1.pop('State', 'Key Not Present')
print(r)

print(md1)

In [ ]:
md1 = {'Bank':'SBI', 'Branch':'MGROAD', 'City':'Delhi'}
print(md1)

r = md1.pop('Bank', 'Key Not Present')
print(r)

print(md1)

In [ ]:
md1 = {'Bank':'SBI', 'Branch':'MGROAD', 'City':'Delhi'}
print(md1)

md2 = {'Bank':'Axis', 'State':'Delhi'}
print(md2)

md1.update(md2)
print(md1)

In [ ]:
md1 = {'Bank':'SBI', 'Branch':'MGROAD', 'City':'Delhi'}
print(md1)

md1.update([('Bank','ICICI'),('State','Delhi')])
print(md1)

In [ ]:
md1 = {'Bank':'SBI', 'Branch':'MGROAD', 'City':'Delhi'}
print(md1)

r = md1.setdefault('Bank')
print(r)

print(md1)

In [ ]:
md1 = {'Bank':'SBI', 'Branch':'MGROAD', 'City':'Delhi'}
print(md1)

r = md1.setdefault('State')
print(r)

print(md1)

In [ ]:
md1 = {'Bank':'SBI', 'Branch':'MGROAD', 'City':'Delhi'}
print(md1)

r = md1.setdefault('State', 'Delhi')
print(r)

print(md1)

In [ ]:
md1 = {'Bank':'SBI', 'Branch':'MGROAD', 'City':'Delhi'}
print(md1)

r = md1.setdefault('Bank', 'Delhi')
print(r)

print(md1)

# 7/Jan/2024

In [ ]:
klist = ['Bank','Branch','City']
vlist = ['Axis', 'MGROAD', 'Delhi']

kvlist = [('Bank','Axis'),('Branch','MGROAD'),('City','Delhi')]
md1 = dict(kvlist)
md1

In [ ]:
klist = ['Bank','Branch','City']
vlist = ['Axis', 'MGROAD', 'Delhi']

z = zip(klist, vlist)
print(type(z))
print(z)  ##  ITERATOR. One time temporary Read only Consummable

kvlist = list(z)
print(kvlist)
print(list(z))
print(list(z))

In [ ]:
klist = ['Bank','Branch','City']
vlist = ['Axis', 'MGROAD', 'Delhi']

z = zip(klist, vlist)
print(type(z))
print(z)

md1 = dict(z)
print(md1)

In [ ]:
klist = ['Bank','Branch','City']
vlist = ['Axis', 'MGROAD', 'Delhi']

md1 = dict(zip(klist,vlist))
print(md1)

In [ ]:
m1 = [98,97,96]
s1 = [88,87,86]
e1 = [78,77,76,75]

list(zip(m1,s1,e1))

In [ ]:
print(md1)

# SET

In [ ]:
ms1 = {2,4,6,8,10,2,4}
print(type(ms1))
print(ms1)
print(len(ms1))

In [ ]:
ms1 = {}
print(type(ms1))

In [ ]:
ms1 = set()
print(type(ms1))

In [ ]:
print(dir(ms1))

In [ ]:
ms1.add(20)
ms1.add(22)
ms1.add(23)

ms1

In [ ]:
ms1 = set('pythondatascience')
ms1

In [ ]:
ms1 = {2,4,6,'hello'}
print(ms1)

In [ ]:
ms1 = set('pythondatascience')
print(ms1)
r = ms1

In [ ]:
ms1 = set('pythondatascience')
print(ms1)
ms1[0]

In [ ]:
ms1 = set('pythonatascience')
print(ms1)
ms1.pop()

In [ ]:
ms1 = {'pythondatascience'}
print(ms1)
ms1.pop()

In [ ]:
ms1 = {1,3,5,7,9,2,4,6}
ms2 = {2,4,6,8,10,12,14}

ms1.union(ms2)

In [ ]:
ms1 = {1,3,5,7,9,2,4,6}
ms2 = {2,4,6,8,10,12,14}

ms1.intersection(ms2)

In [ ]:
ms1-ms2

In [ ]:
ms1 = {1,3,5,7,9,2,4,6}
ms2 = {2,4,6,8,10,12,14}
ns1 = ms1.symmetric_difference(ms2)
print(ns1)
print(ms1)
print(ms2)

In [ ]:
ms1 = {1,3,5,7,9,2,4,6}
ms2 = {2,4,6,8,10,12,14}
ns1 = ms1.symmetric_difference_update(ms2)
print(ns1)
print(ms1)
print(ms2)

In [ ]:
ms1 = {1,3,5,7,9,2,4,6}
ms2 = {2,4,6,8,10,12,14}
print(ms1.difference(ms2))
print(ms1-ms2)

In [ ]:
ms1 = {1,3,5,7,9,2,4,6}
ms2 = {2,4,6,8,10,12,14}

print(dir(ms1))

In [ ]:
ms1 = {1,3,5,7,9,2,4,6}
ms2 = {2,4,6,8,10,12,14}

ms1.update(ms2)

In [ ]:
ms1

In [ ]:
import sys

sys.version

# Decision Making

In [ ]:
age = 26

if age >= 18:
    result = 'Voter'
else:
    result = 'Invalid_Voter'
    
print(age,result)

In [ ]:
age = 26

result = 'Voter' if age >= 18 else 'Invalid_voter'

print(age,result)

def tempCheck(temperature):
    if temperature > 99:
        return 'Hot'
    elif temperature < 60:
        return 'Cold'
    else:
        return 'Right'

In [ ]:
def tempCheck1(temperature):
    result = 'Hot' if temperature >= 99 else 'Cold' if temperature<=60 else 'Normal'
    return result

In [ ]:
temperature = 69

if temperature >= 99:
    result = 'Hot'
else:
    if temperature <= 60:
        result = 'Cold'
    else:
        result = 'Normal'
        
print(temperature, result)

In [ ]:
temperature = 9

result = 'H' if temperature >= 99 else 'C' if temperature<=60 else 'N'
print(temperature, result)

In [ ]:
temperature = 9

result = 'Hot' if temperature >= 99 else 'Cold' if temperature<=60 
else 'Normal'
print(temperature, result)

# Range

In [ ]:
r = range(10)
print(type(r))
print(len(r))
print(r)
print(list(r))

In [ ]:
list(range(10))

In [ ]:
list(range(10,20))

In [ ]:
list(range(10,20,2))

In [ ]:
import sys

sys.getsizeof(r)

In [ ]:
r = range(100000000000)
sys.getsizeof(r)

In [ ]:
r = range(100)
sys.getsizeof(r)

In [ ]:
templist = list(range(10000000))
sys.getsizeof(templist)

In [ ]:
r = range(100000000)

In [ ]:
r[0]

In [ ]:
r[-1]

In [ ]:
a = 20

In [ ]:
sys.getsizeof(a)

# Loops

In [ ]:
lcount = 10

while lcount <= 30:
    print(lcount, end = ', ')
    lcount = lcount + 2
    
print('Done')

In [ ]:
print(10,20,30,'Hello', sep='__::__')

In [ ]:
print(10,20,30,'Hello', sep='pds')

In [ ]:
for letter in "python":
    print(letter)
    
print('Done')

In [ ]:
# for loop exits when STOP_ITERATION is raised.

In [ ]:
import keyword
print(keyword.kwlist)

In [ ]:
print(10)
raise(ValueError('I raise an Exception'))
print(20)

In [ ]:
for i in range(10):
    print(i, end=', ')

In [ ]:
for i in range(10):
    
    if i%2 == 0:        
        print(i, end=', ')

In [ ]:
for char in "pythondataSCIENCE":
    if char in "aeiouAEIOU":
        print(char, end=' ')

In [ ]:
md1 = {'Bank':'SBI', 'Branch':'MGROAD', 'City':'Delhi'}

for k in md1:
    print(k, md1[k])

In [ ]:
md1 = {'Bank':'SBI', 'Branch':'MGROAD', 'City':'Delhi'}

for k in md1.keys():
    print(k)

In [ ]:
md1 = {'Bank':'SBI', 'Branch':'MGROAD', 'City':'Delhi'}

for v in md1.values():
    print(v)

In [ ]:
md1 = {'Bank':'SBI', 'Branch':'MGROAD', 'City':'Delhi'}

for kv in md1.items():
    print(kv)

In [ ]:
md1 = {'Bank':'SBI', 'Branch':'MGROAD', 'City':'Delhi'}

for k, v in md1.items():
    print(k, v)

In [ ]:
a,b = 10,20
print(a,b)

In [ ]:
a = 10,20,30,40,50  ##  packing into a tuple
print(a)

In [ ]:
a,b = 10,20,30,40,50

In [ ]:
a = (10,20)
print(a)

In [ ]:
a,b = (10,20)   ## unpacking
print(a,b)

In [ ]:
a,b = (10,20,30,40)

In [ ]:
a,b,c,d = (10,20,30,40)
print(a,b,c,d)

In [ ]:
md1 = {'Bank':'SBI', 'Branch':'MGROAD', 'City':'Delhi'}

for k, v in md1.items():  ##  on the fly unpacking of tuple into k and v
    print(k, v)

In [ ]:
a,b,c,d = [10,20,30,40]
print(a,b,c,d)

In [ ]:
for letter in 'python':
    if letter == 'h':
        break
    print(letter)

In [ ]:
for letter in 'python':
    if letter == 'h':
        continue
    print(letter)

In [ ]:
##  While loop based break and continue.

In [ ]:
ms1 = 'python'
e = enumerate(ms1)
print(type(e))
print(e)
print(list(e))
print(list(e))

In [ ]:
for index, value in enumerate('python'):
    print(index, value)

In [ ]:
ms1 = 'pythondatascience'

for index,value in enumerate(ms1):
    if value in "aeiouAEIOU":
        print(index, value)

In [ ]:
ms1 = 'pythondatascienceexam'

def find_all_indices(input_str, input_char):
    list_of_indices = []
    
    for index,value in enumerate(input_str):
        if value == input_char:
            #print(index, value)
            temp_tuple = (index, value)
            list_of_indices.append(temp_tuple)
    return list_of_indices

print(find_all_indices(ms1,'e'))

In [ ]:
ms1 = 'pythondatascienceexam'

def find_all_indices_of_vowels(input_str):
    list_of_indices = []
    
    for index,value in enumerate(input_str):
        if value in "aeiouAEIOU":
            #print(index, value)
            temp_tuple = (index, value)
            list_of_indices.append(temp_tuple)
    return list_of_indices

print(find_all_indices_of_vowels(ms1))

# Function

In [ ]:
def mf1(r0,r1):
    print(r0,r1)

In [ ]:
mf1()

In [ ]:
mf1(10)

In [ ]:
mf1(10,20)

In [ ]:
mf1(10,20,30)

In [ ]:
def mf2(r0,d0=100):
    print(r0,d0)

In [ ]:
mf2()

In [ ]:
mf2(200)

In [ ]:
mf2(200,300)

In [ ]:
def mf3(d0=100, r0):
    print(r0,d0)

In [ ]:
#RULE_1: While defining a function, required_parmeters must be 
# specified before default_parameters

In [ ]:
def mf4(r0,r1):
    print(r0,r1)

In [ ]:
mf4(10,20)

In [ ]:
mf4(r1=100, r0=200)

In [ ]:
mf4(10,r1=300)

In [ ]:
mf4(r0=100, 300)

In [ ]:
##RULE_2: While calling a function, positionally mapped values must be 
## passed before parameter-keyword mapping based values

In [ ]:
mf4(10,20,r0=300)

In [ ]:
mf4(r0=10-1, r1=20)

In [ ]:
mf4(100,)

In [ ]:
def mf5(args):
    print(args)
    print(type(args))

In [ ]:
mf5(10)

In [ ]:
mf5(10,20,30)

In [ ]:
def mf6(*args):
    print(args)
    print(type(args))

In [ ]:
mf6(10)

In [ ]:
mf6(10,20,'Hello',30)

In [ ]:
def mf7(r0,r1,*args):  ##  variable tuple container
    print("r0", r0)
    print("r1", r1)
    print("args", args)

In [ ]:
mf7(10,20,30,40,50)

In [ ]:
def mf8(*args, r0,r1):
    print("r0", r0)
    print("r1", r1)
    print("args", args)

In [ ]:
mf8(10,20,30,40,50)

In [ ]:
mf8(10,20,30,40,50,r1='Hello',r0=999)

In [ ]:
def mf9(r0,r1,**kwargs):   ##  variable dict container
    print("r0", r0)
    print("r1", r1)
    print("kwargs", kwargs)

In [ ]:
mf9(10,20)

In [ ]:
mf9(10,20,30)

In [ ]:
mf9(10,20,a=30,b=40)

In [ ]:
def mf10(r0,r1,d0=100,**kwargs):   ##  variable dict container
    print("r0", r0)
    print("r1", r1)
    print("d0", d0)
    print("kwargs", kwargs)

In [ ]:
mf10(10,20,d0=30,d1=40)

In [ ]:
def mf11(r0,r1,d0=100): 
    print("r0", r0)
    print("r1", r1)
    print("d0", d0)

In [ ]:
mf11(10,20,d0=30,d1=40)

In [ ]:
def mf12(r0,r1,*args, d0=111, d1=222, **kwargs):  ## IDEAL Signature
    print("r0", r0)
    print("r1", r1)
    print("args", args)
    print("d0", d0)
    print("d1", d1)
    print("kwargs", kwargs)

In [ ]:
mf12(10,20,30,40,50,d1=333,d2=555,d3=666, d4='hello')

In [ ]:
d2=1000
mf12(10,20,30,40,50,(d2,),[555,'hello'],d1=333,d3=666, d4='hello')

In [ ]:
def mf13(r0,r1,d0=111, d1=222,*args,  **kwargs):
    print("r0", r0)
    print("r1", r1)
    print("args", args)
    print("d0", d0)
    print("d1", d1)
    print("kwargs", kwargs)

In [ ]:
mf13(10,20,30,40,50,'Hello',d2=555,d3=666)

In [ ]:
mf13(10,20,30,40,50,'Hello',d2=555,d3=666, kwargs={'a':20, 'b':30} )

In [ ]:
## RULE_3: A Variable Tuple container, can be populated only
# by passing values in positonal style

In [ ]:
## RULE_4: If the function has a variable dict, 
## it must be specified only in the end.
## A Variable dict can be populated only in parameter-keyword style

# LAMBDA

In [ ]:
def isEven1(num):
    return num%2 == 0

print(isEven1(20))
print(isEven1(23))

In [ ]:
print(type(isEven1))

In [ ]:
isEven2 = lambda num : (num%2) == 0

print(isEven2(20))
print(isEven2(23))

In [ ]:
isOdd2 = lambda num : (num%2) != 0

print(isOdd2(20))
print(isOdd2(23))

In [ ]:
def isEvenOdd1(num):
    if num%2 == 0:
        result = 'Even'
    else:
        result = 'Odd'
        
    return result

print(isEvenOdd1(20))
print(isEvenOdd1(23))

In [ ]:
isEvenOdd2 = lambda num: 'Even' if num%2 == 0 else 'Odd'

print(isEvenOdd2(20))
print(isEvenOdd2(23))

In [ ]:
meadd = lambda m,e: m+e
meadd(e=100,m=90)

In [ ]:
print(type(isEvenOdd2))

In [ ]:
tempCheck2 = lambda t1: 'Hot' if t1>99 else 'Cold' if t1<60 else 'Normal'

print(tempCheck2(999))
print(tempCheck2(89))
print(tempCheck2(59))

In [ ]:
kmlist = [1,2,3,4,5]

km2m = lambda km: km*1000

km2m(5)

In [ ]:
kmlist = [1,2,3,4,5]

km2m = lambda km: km*1000

m = map(km2m, kmlist)
print(type(m))
print(m)
print(list(m))
print(list(m))
print(list(m))

print(km2m(20))

In [ ]:
m = map(lambda m: m*100 ,  [1,2,3,4,5])
print(type(m))
print(m)
print(list(m))

In [ ]:
mmarks = [98,97,96]
emarks = [88,87,86,85]

tmarks = list(map(lambda m,e: m+e, mmarks, emarks))
tmarks

# NameSpace

In [ ]:
g1 = 111
g2 = 222

def mf22(v3):
    global g1
    global g3
    
    v4 = 444
    g1 = 999
    g3 = 888
    
    local_name_space = locals()
    print(local_name_space)
    print(2, g1,g2,g3, v3,v4)
    
print(1, g1,g2)
mf22(333)
print(3, g1,g2,g3)

In [ ]:
g1 = 111
g2 = 222

def mf23(g4):
    global g1
    global g3
    global g4 #error
    
    v4 = 444
    g1 = 999
    g3 = 888
    
    local_name_space = locals()
    print(local_name_space)
    print(2, g1,g2,g3, g4,v4)
    
print(1, g1,g2)
mf23(333)
print(3, g1,g2,g3)

# Recursion

In [ ]:
def fact(n):
    if n == 0:
        return 1  #  Base Case
    
    return n * fact(n-1)

print(fact(5))
print(fact(6))

In [ ]:
fact1 = lambda n : 1 if n==0 else (n * fact1(n-1))
print(fact1(5))
print(fact1(6))

In [ ]:
def fib(n):
    if n <= 1:
        return n
    
    return fib(n-1) + fib(n-2)

In [ ]:
for i in range(10):
    print(fib(i), end = ' ')

In [ ]:
fib2 = lambda n: n if n<=1 else (fib2(n-1)+fib2(n-2))
for i in range(10):
    print(fib2(i), end = ' ')

# List Comprehension

In [ ]:
sqlist1 = []

for num in range(1,6):
    result = num ** 2
    sqlist1.append(result)
    
print(sqlist1)

In [ ]:
sqlist2 = [ num**2    for num in range(1,6)  ]
print(sqlist2)

In [ ]:
evsqlist1 = []

for num in range(1,10):
    if num%2 == 0:
        result = num ** 2
        evsqlist1.append(result)
    
print(evsqlist1)

In [ ]:
evsqlist2 = [num ** 2  for num in range(1,10)   if num%2 == 0  ]
print(evsqlist2)

In [ ]:
eo3list1 = []

for i in range(1,30):
    if i%3 == 0:
        if i%2 == 0:
            result = (i,'Even')
        else:
            result = (i,'Odd')
        
        eo3list1.append(result)
        
print(eo3list1)

In [ ]:
eo3list2 = [(i,'Even') if i%2==0 else (i,'Odd')  
            for i in range(1,30) 
            if i%3 == 0]
print(eo3list2)

In [ ]:
eo3list3 = [ (i,'Even' if i%2==0 else 'Odd')  
            for i in range(1,50) 
            if i%5 == 0 if i%3==0]
print(eo3list3)

Grammer # 1

final_list = [ <2.result_expression>      <1.for loop> ]
control_flow:  1,2  1,2  1ends


Grammer # 2

final_list = [ <3.result_expression>    <1.for loop> <2. Gating_Condition>]
control_flow:  1,2t,3  1,2f  1,2t,3   1ends

In [ ]:
##  DIY: Dict and Set comprehension

In [ ]:
list1 = ['a','b','c']
list2 = [1,2,3]

clist1 = []

for i in list1:
    for j in list2:
        result = (i,j)
        clist1.append(result)
        
print(clist1)

In [ ]:
list1 = ['a','b','c']
list2 = [1,2,3]
clist2 = [ (i,j) for i in list1   for j in list2]
print(clist2)

In [ ]:
fib2 = lambda n: n if n<=1 else (fib2(n-1)+fib2(n-2))
fib20list = [fib2(i) for i in range(20)]
print(fib20list)